---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sui.">

<div >
    <br>
<br>
    I’m not really too sure what to put here, but I’ll take a swing :)
<br>
<br>
    I’m a rising first year at <a href="https://www.mcgill.ca/" target="_blank">McGill</a> I'm taking courses in Econ, CS and Math. 
<br>
<br>  
    I’m a summer fellow at the <a href="https://progress.institute/" target="_blank">Institute for Progress</a>.
 <br>  
 <br> 
   I believe touching grass is a categorical imperative.
 <br> 

<br> 
    I like <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4" target="_blank"> listening to music</a>, coffee, <a href="https://curius.app/hamidah-oderinwale" target="_blank">being chronically online </a>(the coffee helps with that), and film. 
    
</Layout>
