---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sui.">

<div>
<br>
   Welcome.
<br>
<br>
    I’m a student at <a href="https://www.mcgill.ca/" target="_blank">McGill</a> and a (summer) fellow at the <a href="https://progress.institute/" target="_blank">Institute for Progress</a>. <br><br>
   Things I find interesting include:
   <ul>
    <li>developing "accurate" semi-endogeneous growth models and asking <em>in what ways can the good ones really help us?</em></li>
    <li>figuring out what it means to live the good life</li> 
    <li>other interesting things that aren't listed here ;)</li>
</ul>   
    
    Here's what I'm <a href="https://curius.app/hamidah-oderinwale" target="_blank">reading on the internet</a> and <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4" target="_blank">the music</a> I'm listening to.

<br>

    
</Layout>
