---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sui.">

<div >
    <br>
<br>
    Hi, I'm Hamidah :)
<br>
<br>
    I’m a first year at <a href="https://www.mcgill.ca/" target="_blank">McGill.</a> and a (summer) fellow at the <a href="https://progress.institute/" target="_blank">Institute for Progress.</a> 
 <br>  
 <br> 
   I believe touching grass is a categorical imperative.
 <br> 

<br> 
    Here's my <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4" target="_blank">Spotify </a>, and what I'm <a href="https://curius.app/hamidah-oderinwale" target="_blank">reading on the internet.</a>

<br>

    
</Layout>
