---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">


<h2 id="about-me">About Me</h2>
<p>
    My name is Hamidah. I'm from Ontario, Canada. I'm interested in
    pedagogy, cognitive science, philosophy, institutional design, and value
    systems or the lack thereof.
</p>
<p>
    My greater aims include expanding my realms of possibility; maintaining a
    high degree of openness to people, ideas and culture; and being helpful to
    others when possible.
</p>
<p>What I do, have done, and am a part of.</p>
<ul>
    <li>
        Digital and Community Lead at [Charity Elections supported by Giving
        What We Can] (<a
            href="https://www.givingwhatwecan.org/events/guides/charity-elections"
            >https://www.givingwhatwecan.org/events/guides/charity-elections</a
        >)
    </li>
    <li>Nigerian Math Olympiad Training Programming + Support</li>
    <li>
        Micro-grants at [Better Trajectories] (<a
            href="https://www.bettertrajectories.org/"
            >https://www.bettertrajectories.org/</a
        >)
    </li>
    <li>
        Interning at the [Collins Institute] (<a
            href="https://collinsinstitute.org/"
            >https://collinsinstitute.org/</a
        >)
    </li>
    <li>Behavioural Science Research Assistant (NYU Stern)</li>
    <li>
        [Emergent Ventures &#39;22] (<a
            href="https://marginalrevolution.com/marginalrevolution/2022/07/emergent-ventures-winners-21st-cohort.html"
            >https://marginalrevolution.com/marginalrevolution/2022/07/emergent-ventures-winners-21st-cohort.html</a
        >
    </li>
    <li>Horatio Alger Canadian Scholar</li>
    <li>Intern at EA Nigeria (May-August '22)</li>
    <li>Participant at <a href="warp.camp/">WARP22</a> and <a href="https://www.sparc-camp.com/">SPARC22</a> </li>
    <li>Kode with Klossy Scholar</li>
</ul>
<p>
    Supported by Emergent Ventures, the Effective Altruism Infrastructure Fund
    and the 1517 Fund, with a special shout-out to ChatGPT.
</p>

</Layout>
