---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">

<div >
    <br>
<p>Welcome!</p>

<h3>Experiences and things...</h3> 
<br>
    I’m not really too sure what to put here, but I’ll take a swing.
<br>
    I’m a rising first year at McGill. Let’s meet up if you’re ever in Montréal! I plan on studying some combination of stats, cs, econ and philosophy, but I’m largely letting exploration take reign for the first year or so.
<br>  
    I’m an incoming summer fellow at the Institute for Progress focusing on high-skilled immigration and metascience.
 <br>   
    The closest I can get to a unified theory of purpose is making the future look pretty good, satisfying curiosity, touching grass, and ensuring that our arguably most important intangible asset is well-cared for. (It’s a work in progress lol)
 <br>   
    Recently, I joined the Interact community and I’m super excited to see what that’s about.
<br>  
    I like <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4">music,</a> coffee and film. I’m really not qualified to talk on any of these things, but very glad to try!
    </p>
</Layout>
