---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sui.">


<div id="about">
<br>
    Hi, I'm Hamidah. I’m a student at <a href="https://www.mcgill.ca/" target="_blank">McGill</a> studying Computer Science and fellow at the <a href="https://progress.institute/" target="_blank">Institute for Progress</a>.<br><br>
 
    Here's what I'm <a href="https://curius.app/hamidah-oderinwale" target="_blank">reading on the internet</a> and <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4" target="_blank">the music</a> I'm listening to.

<br>
</div>
    
</Layout>
