---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">

<div >
<h2 id="about-me">About Me</h2>

<p>
    Heya! My name's Hamidah. I am from Ontario, Canada. I'm interested in
    pedagogy, cognitive science, philosophy, institutional design, and value
    systems or the lack thereof. I'm a tentative rising first year student at 
    <a href="minerva.edu/">Minerva University</a> hoping to major in cognitive neuroscience.
</p>
<p>
    I currently spend a lot of my time writing :)
</p>

<h3>Experiences and things...</h3>
<ul>
    <li>
        Digital and Community Lead at <a href="https://www.givingwhatwecan.org/events/guides/charity-elections">Charity Elections supported by Giving
            What We Can</a>
    </li>
    <li>Nigerian Math Olympiad Training Programming + Support</li>
    <li>
        Micro-grants at <a
            href="https://www.bettertrajectories.org/">Better Trajectories</a>
    </li>
    <li>
        Interning at the <a href="https://collinsinstitute.org/">Collins Institute</a>

    </li>
    <li>Behavioural Science Research Assistant (NYU Stern)</li>
    <li>
     <a href="https://marginalrevolution.com/marginalrevolution/2022/07/emergent-ventures-winners-21st-cohort.html"> Emergent Ventures '22</a>
    </li>
    <li>Horatio Alger Canadian Scholar</li>
    <li>Intern at EA Nigeria (May-August '22)</li>
    <li>Participant at <a href="https://warp.camp/">WARP22</a> and <a href="https://www.sparc-camp.com/">SPARC22</a> </li>
    <li>Kode with Klossy Scholar</li>
</ul>
<p>
    Supported by Emergent Ventures, the Effective Altruism Infrastructure Fund
    and the 1517 Fund, with a special shout-out to ChatGPT.
</p>
</div>
</Layout>
