---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">

<div >
    <br>
<br>
    I’m not really too sure what to put here, but I’ll take a swing :)
<br>
<br>
    I’m a rising first year at McGill (Let’s meet up if you’re in Montréal!). I plan on studying some combination of stats, cs, econ and philosophy, but I’m largely letting exploration take reign for the first year or so.
<br>
<br>  
    I’m an incoming summer fellow at the <a href="https://progress.institute/" target="_blank">Institute for Progress</a> focusing on high-skilled immigration and metascience.
 <br>  
 <br> 
    The closest I can get to a unified theory of purpose is making the future look pretty good, satisfying curiosity, touching grass, and ensuring that our arguably most important intangible asset is well-cared for. (It’s a work in progress lol)
 <br> 
 <br>  
    Recently, I joined the <a href="https://joininteract.com/" target="_blank">Interact</a> community and I’m super excited to see what that’s about.
<br> 
<br> 
    I like <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4" target="_blank">music</a>, coffee, <a href="https://curius.app/hamidah-oderinwale" target="_blank">being chronically online </a>(the coffee helps with that), and film. I’m not very qualified to talk on these things, but very glad to try!
    
</Layout>
