---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">

<div >

<p> "I assume you at least skimmed the long-winded spiel on the homepage. So, in short, I'm just trying to figure things out. My escape fantasy is writing prose on my Macintosh 512K on an isolated ranch in Colorado. I'm pretty sure I wouldn't actually enjoy this long-term, so I go to school, write sometimes (working on getting better at this!), read papers, and mainly let serendipity take reign.</p>

  


<h3>Experiences and things...</h3> 
<p>Last updated 12/22</p>
<ul>
    <li>
        Digital and Community Lead at <a href="https://www.givingwhatwecan.org/events/guides/charity-elections">Charity Elections supported by Giving
            What We Can</a>
    </li>
    <li>Nigerian Math Olympiad Training Programming + Support</li>
    <li>
        Micro-grants at <a
            href="https://www.bettertrajectories.org/">Better Trajectories</a>
    </li>
    <li>
        Interning at the <a href="https://collinsinstitute.org/">Collins Institute</a>

    </li>
    <li>Behavioural Science Research Assistant (NYU Stern)</li>
    <li>
     <a href="https://marginalrevolution.com/marginalrevolution/2022/07/emergent-ventures-winners-21st-cohort.html"> Emergent Ventures '22</a>
    </li>
    <li>Horatio Alger Canadian Scholar</li>
    <li>Intern at EA Nigeria (May-August '22)</li>
    <li>Participant at <a href="https://warp.camp/">WARP22</a> and <a href="https://www.sparc-camp.com/">SPARC22</a> </li>
    <li>Kode with Klossy Scholar</li>
</ul>
<p>
    Shout out to <a href="https://www.mercatus.org/emergent-ventures" target="_blank">Emergent Ventures</a> and the <a href="https://www.1517fund.com/" target="_blank">1517 Fund,</a> and we give special thanks to ChatGPT.
</p>
</div>
</Layout>
