---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
   
    <h1>Writing</h1>
    <p>
        Here's where you can find my blog posts. I try to write one every month.
    </p>
    <ul>
        <li><a href="/posts/nigeria"></a></li>
        <li><a href="/posts/rustlings">Rustlings...Ending Chapters</a></li>
        <li><a href="/posts/onlegibility">On Legibility</a></li>
        <li><a href="/posts/philosophybanter">Philosophy Banter</a></li>
        <li><a href="/posts/criticallyunderstanding">Critically Understanding School</a></li>
        <li><a href="/posts/understandinghumility">Understanding Humility as a Virtue</a></li>
        <li><a href="/posts/immunityisafallacy">Immunity is a Fallacy: Groupthink and Cults</a></li>
        <li><a href="/posts/conviction">Conviction</a></li>
        <li><a href="/posts/digitalnetworking">Digital Networking for Dummies</a></li>
        <li><a href="/posts/indefence">A (Not-So) Interesting Public Health Take (Weakly-held)</a></li>
    </ul>
</Layout>

