---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mindstream.">
    <h4>Main?</h4>

<a href="/posts/aesthetics">A Sense of Aesthetics</a>
<a href="/posts/latin">Latin America Flew Just Under my Radar</a>
  <a href="/posts/myhomoeconomics">Econ Notepad</a>
  <a href="/posts/rabbit-duck">Rabbit-Duck</a>
  <a href="https://hackmd.io/@ecx2VlHIRJSuD55CidtDSw/ByZRgBtOh" target="_blank" >Ramblings on the Creative Technologists</a>
    
        <a href="/posts/bidding">Edgy Bidding</a>
        <a href="/posts/stubborn">Stubborn Attachments</a>
        <a href="/posts/stupidwriting">Stupid Writing</a>
        <a href="/posts/poetrydefence">in defence of poetry</a>
        <a href="/posts/100-questions">100 Questions</a>
        

<h4>Dusty</h3>
    <ul>
        <a href="https://onedropofcoffee.substack.com/p/when-humans-can-no-longer-excel-let" target="_blank">When Humans Can No Longer Excel, Let the Beautiful Prevail.</a>
        <a href="/posts/environmentaldeterminism">Environmental Determinism is Incomplete</a>
        <a href="/posts/nigeria">Supporting Talent in Nigeria: Mini-Report</a>
        <!-- <a href="/posts/rustlings">Rustlings...Ending Chapters</a> -->
       <!--  <a href="/posts/onlegibility">On Legibility</a> -->
        <a href="/posts/philosophybanter">Philosophy Banter</a>
</ul>
        <h4>More Personal</h3>
            <ul>
        <a href="https://onedropofcoffee.substack.com/p/give-and-take" target="_blank">Give and Take</a>
        <a href="https://hackmd.io/@ecx2VlHIRJSuD55CidtDSw/SJFZt4n8n" target="_blank">So high school is over?</a>
        <a href="/posts/inertia">Inertia</a>
</ul>
       <!--  
            <a href="/posts/criticallyunderstanding"
                >Critically Understanding School</a>   
        
        
            <a href="/posts/understandinghumility"
                >Understanding Humility as a Virtue</a>
        
        
            <a href="/posts/immunityisafallacy"
                >Immunity is a Fallacy: Groupthink and Cults</a>
        
        <a href="/posts/conviction">Conviction</a>
        
            <a href="/posts/digitalnetworking"
                >Digital Networking for Dummies</a>
        
        
            <a href="/posts/indefence"
                >A (Not-So) Interesting Public Health Take (Weakly-held)</a> -->
        
</Layout>
