---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mindstream.">
<div class="blogindex">
    <p>* = personal thumbs up </p>
    
    <h4>Main?</h4>
 <a href="/posts/iwantafrenchsalon">I Want A French Salon </a>
 <br><a href="/posts/aesthetics">A Sense of Aesthetics *</a>  
<br><a href="/posts/latin">Latin America Flew Just Under my Radar</a>
  <br><a href="/posts/myhomoeconomics">Econ Notepad</a>
  <br><a href="/posts/rabbit-duck">Rabbit-Duck</a>
  <br><a href="https://hackmd.io/@ecx2VlHIRJSuD55CidtDSw/ByZRgBtOh" target="_blank" >Ramblings on the Creative Technologists</a>
       <br> <a href="/posts/bidding">Edgy Bidding</a>
        <br><a href="/posts/stubborn">Stubborn Attachments</a>
        <br><a href="/posts/stupidwriting">Stupid Writing * </a>
        <br><a href="/posts/poetrydefence">in defence of poetry *</a>
        <br><a href="/posts/100-questions">100 Questions * </a>
        
<h4>Dusty</h4>
        <a href="https://docs.google.com/document/d/12s-BM5qCFAsGGbUFtHEmtKkc-uUK5CS8cKyg-BA5kS0/edit?usp=sharing">Psychonauts, Biohackers and Distributed Scientific Progress</a>
        <br><a href="https://onedropofcoffee.substack.com/p/when-humans-can-no-longer-excel-let" target="_blank">When Humans Can No Longer Excel, Let the Beautiful Prevail.</a>
        <br><a href="/posts/environmentaldeterminism">Environmental Determinism is Incomplete</a>
         <br><a href="/posts/nigeria">Supporting Talent in Nigeria: Mini-Report</a>
        <!-- <br><a href="/posts/rustlings">Rustlings...Ending Chapters</a><br> -->
       <!--  <br><a href="/posts/onlegibility">On Legibility</a><br> -->
       <br><a href="/posts/philosophybanter">Philosophy Banter</a>

        <h4>More Personal</h3>
           <a href="https://onedropofcoffee.substack.com/p/give-and-take" target="_blank">Give and Take</a><br>
            <a href="https://hackmd.io/@ecx2VlHIRJSuD55CidtDSw/SJFZt4n8n" target="_blank">So high school is over?</a><br>
            <a href="/posts/inertia">Inertia</a><br>

       <!--  <br>
            <a href="/posts/criticallyunderstanding"
                >Critically Understanding School</a>   
        <br>
        <br>
            <a href="/posts/understandinghumility"
                >Understanding Humility as a Virtue</a>
        <br>
        <br>
            <a href="/posts/immunityisafallacy"
                >Immunity is a Fallacy: Groupthink and Cults</a>
        <br>
        <br><a href="/posts/conviction">Conviction</a><br>
        <br>
            <a href="/posts/digitalnetworking"
                >Digital Networking for Dummies</a>
        <br>
        <br>
            <a href="/posts/indefence"
                >A (Not-So) Interesting Public Health Take (Weakly-held)</a> -->
            </div>
</Layout>
