---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <h2>Writing ✍🏾</h2>
   <p>Welcome! I put blog posts here.
    </p>
    <ul>
        <li><a href="/posts/musings[0]"></a></li>
  <!--<li><a href="/posts/frenchdiscomfort">French Discomfort</a></li>-->
        <li><a href="https://onedropofcoffee.substack.com/p/give-and-take" target="_blank">Give and Take</a></li>
        <li><a href="https://onedropofcoffee.substack.com/p/when-humans-can-no-longer-excel-let" target="_blank">When Humans Can No Longer Excel, Let the Beautiful Prevail.</a></li>
        <li><a href="/posts/100-questions">100 Questions</a></li>
        <li><a href="/posts/environmentaldeterminism">Environmental Determinism is Incomplete</a></li>
        <li><a href="/posts/nigeria">Supporting Talent in Nigeria: Mini-Report</a></li>
        <!-- <li><a href="/posts/rustlings">Rustlings...Ending Chapters</a></li> -->
        <li><a href="/posts/onlegibility">On Legibility</a></li>
        <li><a href="/posts/philosophybanter">Philosophy Banter</a></li>
        <li>
            <a href="/posts/criticallyunderstanding"
                >Critically Understanding School</a>
        </li>
        <li>
            <a href="/posts/understandinghumility"
                >Understanding Humility as a Virtue</a>
        </li>
        <li>
            <a href="/posts/immunityisafallacy"
                >Immunity is a Fallacy: Groupthink and Cults</a>
        </li>
        <li><a href="/posts/conviction">Conviction</a></li>
        <li>
            <a href="/posts/digitalnetworking"
                >Digital Networking for Dummies</a>
        </li>
        <li>
            <a href="/posts/indefence"
                >A (Not-So) Interesting Public Health Take (Weakly-held)</a>
        </li>
    </ul>
</Layout>
