---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
    <a href="/"> Home</a>
    <br />
    <a href="/blog/"> Blog</a>

    <h1>Writing</h1>
    <p>
        Here's where you can find my blog posts. I try to write one every month.
    </p>
    <p>
        I wouldn't say there's much coherency in what's covered, but generally I
        write about whatever seems interesting.
    </p>
    <ul>
        <li><a href="/posts/post-1/">On Legibility</a></li>
    </ul>
</Layout>

