---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me"  class="front-page">
	<!--links  -->

	<div style="max-width: 65ch;">
		<h1 style="color: #E16036; font-size: 3em; margin-bottom: 10px;">
			Hey there! <span>
				<img
					src="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/waving-hand_dark-skin-tone_1f44b-1f3ff_1f3ff.png"
					width="50px"
					height="50px"
				/>
			</span>
		</h1>
		
			<div class="one" style="margin-bottom: 8px; font-size: 1.3em">
				<p>I'm Hamidah [ham-ee-dah].</p>
			</div>

			<input
				class="spoilerbutton"
				type="button"
				value="Links & Learnings"
				onclick="this.value=this.value=='Links & Learnings'?'Hide':'Links & Learnings';"
			/>

			<div class="spoiler">
				<div>
					<p>Coming Soon!</p>
				</div>
			</div>

			<p>------</p>
			<a href="/blog/">Writing.</a>
			<br/>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		
		
		<a><p style="color: #E16036">oderinwaleh[at]gmail[dot]com</p></a>
		<br/>
		<p><em>Hosted on Netlify. Built with Astro.</em></p>
		<p><a href="https://calendly.com/hamidah/meeting" target="blank">Let's chat!</a></p>
		
	</div>
</Layout>
