---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
	<!--links  -->

	<div style="max-width: 65ch;">
		<h1 style="color: #E16036; font-size: 3em; margin-bottom: 10px;">
			Hey there! <span
				><img
					src="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/waving-hand_dark-skin-tone_1f44b-1f3ff_1f3ff.png"
					width="50px"
					height="50px"
				/>
			</span>
		</h1>
		<p>
			<div class="one" style="margin-bottom: 8px; font-size: 1.3em">
				<p>I'm Hamidah [ham-ee-dah].</p>
			</div>

			<input
				class="spoilerbutton"
				type="button"
				value="Reveal Musings"
				onclick="this.value=this.value=='Reveal Musings'?'Hide':'Reveal Musings';"
			/>

			<div class="spoiler">
				<div>
					<ul>
						<li>Qualia and Meaning are Mutualist.</li>
						<li>My Meaning has yet to be found.</li>
						<li>Hamidah's Qualia should be questioned.</li>
						<br />
						<li>
							Be wary of institutions and take part in them, so
							long as they serve you doing interesting things.
						</li>
						<li>
							Aggressive nonconfirmity in its own is not
							inherently valuable.
						</li>
						<li>Be critical but don't default to rebellion.</li>
					</ul>
				</div>
			</div>

			<p>------</p>
			<a href="/blog/">Writing.</a>
			<br/>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		
		
		<a><p style="color: #E16036">oderinwaleh[at]gmail[dot]com</p></a>
		<br/>
		<p><em>Hosted on Netlify. Built with Astro.</em></p>
		<p><a href="https://calendly.com/hamidah/meeting" target="blank">Let's chat!</a></p>
		
	</div>
</Layout>
