---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me"  class="front-page">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
	<!--links  -->

	<div style="max-width: 65ch;">
		<br><h1 style="color: #DD6E42; font-size: 3em; margin-bottom: 10px; font-family: ''Schibsted Grotesk', sans-serif; font-weight: 500;"> Heya! </h1></div> 
			<h1 style="color: #DF8C6F; font-size: 2em; margin-bottom: 10px; font-family: 'Schibsted Grotesk', sans-serif; font-weight: 500;"> I'm Hamidah 🌚 </h1></div>
		
			<div class="one" style="margin-bottom: 8px;">
				<p> I like <a href="https://open.spotify.com/user/oderinwaleh?si=2e36420dbc3a4a93">music</a>, going on walks (preferably at night), elections, public goods games, spoken word, freestyling (albeit I'm pretty bad), and watching movies. </p>
			</div>

	
			<p>------</p>
			<a href="/blog/">Writing.</a>
			<br/>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		
		
		<a><p>oderinwaleh[at]gmail[dot]com</p></a>
		<br/>
		<p><em>Hosted on Netlify. Built with Astro.</em></p>
		<p><a href="https://calendly.com/hamidah/meeting" target="blank">If you want to talk :)</a></p>

	
</Layout>


