---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About"  class="front-page">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">	<!--links  -->

	

	<div style="max-width: 65ch; text-align: left;">
		<br>
			<em><h3 style="margin-bottom: 10px; color: #494850; font-family: 'IBM Plex Serif', serif;"> A bonis ad meliora </h3></em></div>
		
			<div class="one" style="margin-bottom: 8px;">
				<div>
					<p>Hi, I'm <b>Hamidah!</b></p>

						 I’m a student at <a href="https://www.mcgill.ca/" target="_blank">McGill</a> and a (fall) fellow at the <a href="https://progress.institute/" target="_blank">Institute for Progress</a>. I'm exploring immigration, metascience and tangential policy research. <br><br>
						   Things I find interesting include:
						   <ul>
							<li>developing "accurate" semi-endogeneous growth models and asking <em>in what ways can the good ones really help us?</em></li>
							<li>figuring out what it means to live the good life</li> 
							<li>interesting things that aren't listed here (found and yet to be found);)</li>
						</ul>   
						
						I change the CSS of this site quite often. Why? Frankly, I find it fun. <br><br>
						Consistency is also overrated (domain-specific, of course). 
						</br><br>
						<em>Now a round of applause for the slick pun. </em>
						</br>
						<br>
							Here's what I'm <a href="/blog/">writing</a>, <a href="https://curius.app/hamidah-oderinwale" target="_blank">reading on the internet</a> and <a href="https://open.spotify.com/user/oderinwaleh?si=f9071f63689c40f4" target="_blank">the music</a> I'm listening to.
						
						<br>
						</div>
							
					
				  </div>
			</div>

	
			<p>------</p>
	
		
		
		<a><b><p>oderinwaleh@gmail.com</p></a></b> 
		<em>Hosted on Netlify. Built with Astro.</em>
		

	
</Layout>


