---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me"  class="front-page">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
	<!--links  -->

	<div style="max-width: 65ch;">
		<br>
			<em><h2 style="margin-bottom: 10px; font-family: 'Schibsted Grotesk', sans-serif; font-weight: 500;"> Vanitas vanitatum, et omnia vanitas  </h2> </em></div>
		
			<div class="one" style="margin-bottom: 8px;">
				<div>
					<p>Hi! I'm <b>Hamidah.</b></p>
					<p>I'm from the Greater Toronto Area, in the land of maple syrup. I'm a rising freshman at Hamilton College.</p>
	
					<p>My interests include, but are not limited to, philosophical theology, going on walks (especially at night), public goods games, metascience, immigration policy, music (pretty much all genres), and beautiful expression (film, prose, the occasional freestyling, etc.).</p>
					<p>My "why" for doing anything is some combination of holding servitude as a virtue, trying to enact a form of secular repentance for my sins, and because I wish to explore the vastness of our world (and hopefully create some pretty cool things within it).</p>
					<em><p>Note: I change the design of my website way too often, so if you come back in the next month or so, it'll probably look different.</p></em>
				  </div>
			</div>

	
			<p>------</p>
			<a href="/blog/">Writing.</a>
			<br/>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		
		
		<a><p>oderinwaleh[at]gmail[dot]com</p></a>
		<br/>
		<p><em>Hosted on Netlify. Built with Astro.</em></p>
		<p><a href="https://calendly.com/hamidah/meeting" target="blank">If you want to talk :)</a></p>

	
</Layout>


