---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About"  class="front-page">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
	<!--links  -->

	

	<div style="max-width: 65ch;">
		<br>
			<h2 style="margin-bottom: 10px; font-family:'Red+Hat+Mono', monospace; color: #2A8D87; font-weight: 400;" > A bonis ad meliora </h2></div>
		
			<div class="one" style="margin-bottom: 8px;">
				<div>
					<p>Hi! I'm <b>Hamidah.</b></p>
					
					<p>I change the design of my website way too often, so in the next month or so, it will probably look different.</p>
				  </div>
			</div>

	
			<p>------</p>
	
		
		
		<a><b><p>oderinwaleh@gmail.com</p></a></b> 
		<em>Hosted on Netlify. Built with Astro.</em>
		

	
</Layout>


