---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
	<!--links  -->

	<div style="max-width: 65ch;">
		<h1 style="color: #E16036; font-size: 3em; margin-bottom: 10px;">
			Hey there! <span
				><img
					src="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/waving-hand_dark-skin-tone_1f44b-1f3ff_1f3ff.png"
					width="50px"
					height="50px"
				/>
			</span>
		</h1>
		<p>
			<div class="one" style="margin-bottom: 8px; font-size: 1.3em">
				<p>I'm Hamidah [ham-ee-dah].</p>
			</div>

			<p>------</p>

			<h3 style="font-size: 1.5em"><i>I've been exploring.</i></h3>
			<ul>
				<li>Supporting human agency.</li>
				<li>Group-decision making.</li>
				<li>Promoting academic rigor in the social sciences.</li>
				<li><a href="/blog/">Writing.</a></li>
			</ul>

			<!-- socials -->
		</p>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		<p>
			<br>
		</p>

		<a
			style="padding-top: 1px; "
			href="https://docs.google.com/document/d/1IKblOeMn_WWjzl17C8W2zaZH1ioYobSezIc-_npnkys/edit?usp=sharing"
			target="_blank"
		>
			Resume [09/2022]
		</a>

		<a><p style="color: #E16036">oderinwaleh[at]gmail[dot]com</p></a>
	</div>
</Layout>
