---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me"  class="front-page">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&display=swap" rel="stylesheet">
	<!--links  -->

	<div style="max-width: 65ch;">
		<h1 style="font-size: 3em; margin-bottom: 10px; font-family: 'Cormorant Garamond', cursive;">
			Hey there <span>

		<img class="animated-gif" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Moon_rotating_full_220px.gif" width="200" height="200">
				
			</span>
		</h1>
		
			<div class="one" style="margin-bottom: 8px; font-size: 1.3em">
				<p>I'm Hamidah [ham-ee-dah].</p>
			</div>

	
			<p>------</p>
			<a href="/blog/">Writing.</a>
			<br/>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		
		
		<a><p>oderinwaleh[at]gmail[dot]com</p></a>
		<br/>
		<p><em>Hosted on Netlify. Built with Astro.</em></p>
		<p><a href="https://calendly.com/hamidah/meeting" target="blank">Let's chat!</a></p>

	</div>
	
</Layout>


