---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me"  class="front-page">
	<!--links  -->

	<div style="max-width: 65ch">
		<h1 style="color: #357DED; font-size: 3em; margin-bottom: 10px;">
			Hey there! <span>
				
			</span>
		</h1>
		
			<div class="one" style="margin-bottom: 8px; font-size: 1.3em">
				<p>I'm Hamidah [ham-ee-dah].</p>
			</div>

			<input
				class="spoilerbutton"
				type="button"
				value='Links & Learnings'
				onclick="this.value=this.value=='Links & Learnings'?'Hide':'Links & Learnings';"
			/>

			<div class="spoiler">
				<div>
					<p>Coming Soon!</p>
				</div>
			</div>

			<p>------</p>
			<a href="/blog/">Writing.</a>
			<br/>

		<a href="https://www.hsopportunities.com/" target="_blank">Opportunities Dashboard</a>
		
		
		<a><p style="color: #FF5666">oderinwaleh[at]gmail[dot]com</p></a>
		<br/>
		<p><em>Hosted on Netlify. Built with Astro.</em></p>
		<p><a href="https://calendly.com/hamidah/meeting" target="blank">Let's chat!</a></p>
		
	</div>
	<script snow-color="#92b4f4" snow-shape="•" snow-amount="5" snow-size="1" src="https://rawcdn.githack.com/stealsocks/snowfall.css/16cee8e4ba02cc5de7d287d0ece7b5b1d12d6cec/snowfall.js"></script>
</Layout>


