---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About"  class="front-page">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<!--links  -->

	

	<div style="max-width: 65ch;">
		<br>
			<h2 style="margin-bottom: 10px;  font-family: 'Garamond', sans-serif;

			color: #999999;" > A bonis ad meliora </h2></div>
		
			<div class="one" style="margin-bottom: 8px;">
				<div>
					<p>Hi! I'm <b>Hamidah.</b></p>
					
					<p><a href="/blog/"> Mindstream</a> for thoughts. <a href="/about/">Sui</a> for me : ) </p>
				  </div>
			</div>

	
			<p>------</p>
	
		
		
		<a><b><p>oderinwaleh@gmail.com</p></a></b> 
		<em>Hosted on Netlify. Built with Astro.</em>
		

	
</Layout>


