---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>

    
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-K8WKZ0HZ6G");
</script>



<!-- Google tag (gtag.js) -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <a href="/"> Home</a>
        <br />
        <a href="/blog/"> Blog</a>
        <br />
        <a href="/about/">About Me</a>
        <slot />
    </body>
</html>

<style is:global>
    a:link {
  color: #B8D3D1;
}

h1 {
        color: #F5F5F5;
    }x


    h2 {
        color: #F5F5F5;
    }
    
    img.animated-gif{
  width: 85px;
  height: auto;
  padding-top: 4px; 
}

    body {
        font-family: 'Work Sans', serif;
        max-width: 55ch;
        margin: 45px 48px;
        line-height: 1.4;
        word-spacing: 0.23vw;
        font-size: 18px;
        background: #050a30;
        color: #F5F5F5;
    }

    .front-page {
        background-image: url("/Users/hamidahoderinwale/Downloads/wp2757834.gif");
        background-size: cover;

        height: 100vh;
        padding: 0;
        margin: 0;
    }

    html {
        min-height: 100%;
        position: relative;
    }



.full-wh {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 117px 1613px #f5f5f5, 1488px 635px #f5f5f5, 944px 914px #f5f5f5,
    647px 277px #f5f5f5, 1792px 1205px #f5f5f5, 656px 1517px #f5f5f5,
    820px 1839px #f5f5f5, 1153px 1400px #f5f5f5, 870px 13px #f5f5f5,
    550px 702px #f5f5f5, 1155px 1056px #f5f5f5, 88px 1709px #f5f5f5,
    1450px 1090px #f5f5f5, 1929px 457px #f5f5f5, 1390px 905px #f5f5f5,
    1771px 269px #f5f5f5, 1741px 669px #f5f5f5, 432px 64px #f5f5f5,
    563px 996px #f5f5f5, 1918px 1873px #f5f5f5, 1845px 1211px #f5f5f5,
    231px 1503px #f5f5f5, 37px 220px #f5f5f5, 1970px 495px #f5f5f5,
    1812px 925px #f5f5f5, 67px 1398px #f5f5f5, 535px 279px #f5f5f5,
    1837px 829px #f5f5f5, 1945px 685px #f5f5f5, 1677px 1817px #f5f5f5,
    1317px 1415px #f5f5f5, 1785px 905px #f5f5f5, 1787px 1554px #f5f5f5,
    802px 1296px #f5f5f5, 512px 1101px #f5f5f5, 583px 1364px #f5f5f5,
    336px 558px #f5f5f5, 979px 334px #f5f5f5, 106px 792px #f5f5f5,
    204px 34px #f5f5f5, 1845px 1763px #f5f5f5, 445px 1599px #f5f5f5,
    386px 453px #f5f5f5, 471px 952px #f5f5f5, 1466px 1676px #f5f5f5,
    1885px 303px #f5f5f5, 51px 1717px #f5f5f5, 1211px 299px #f5f5f5,
    1546px 1887px #f5f5f5, 1067px 33px #f5f5f5, 1088px 1326px #f5f5f5,
    1938px 760px #f5f5f5, 470px 648px #f5f5f5, 1213px 269px #f5f5f5,
    1767px 78px #f5f5f5, 977px 976px #f5f5f5, 1926px 175px #f5f5f5,
    722px 1512px #f5f5f5, 945px 227px #f5f5f5, 1811px 99px #f5f5f5,
    1912px 1406px #f5f5f5, 1602px 1243px #f5f5f5, 610px 449px #f5f5f5,
    654px 1393px #f5f5f5, 1930px 1193px #f5f5f5, 258px 1184px #f5f5f5,
    89px 265px #f5f5f5, 824px 1494px #f5f5f5, 1506px 1435px #f5f5f5,
    1027px 753px #f5f5f5, 1px 1197px #f5f5f5, 530px 1161px #f5f5f5,
    864px 1555px #f5f5f5, 1610px 1604px #f5f5f5, 1035px 1114px #f5f5f5,
    1456px 133px #f5f5f5, 1196px 1253px #f5f5f5, 361px 1037px #f5f5f5,
    834px 351px #f5f5f5, 436px 1676px #f5f5f5, 1194px 1007px #f5f5f5,
    1141px 647px #f5f5f5, 319px 454px #f5f5f5, 937px 1769px #f5f5f5,
    1872px 1013px #f5f5f5, 733px 643px #f5f5f5, 1250px 511px #f5f5f5,
    189px 296px #f5f5f5, 1639px 163px #f5f5f5, 1584px 336px #f5f5f5,
    1912px 1343px #f5f5f5, 1298px 1307px #f5f5f5, 1750px 902px #f5f5f5,
    1129px 845px #f5f5f5, 1899px 1470px #f5f5f5, 1427px 232px #f5f5f5,
    1391px 838px #f5f5f5, 1225px 1819px #f5f5f5, 190px 1366px #f5f5f5,
    1865px 518px #f5f5f5, 203px 1383px #f5f5f5, 1455px 614px #f5f5f5,
    423px 354px #f5f5f5, 1678px 1790px #f5f5f5, 241px 608px #f5f5f5,
    1089px 730px #f5f5f5, 1342px 38px #f5f5f5, 1848px 249px #f5f5f5,
    1874px 1785px #f5f5f5, 1040px 1837px #f5f5f5, 751px 261px #f5f5f5,
    510px 1975px #f5f5f5, 52px 795px #f5f5f5, 1786px 1310px #f5f5f5,
    498px 712px #f5f5f5, 190px 375px #f5f5f5, 1341px 722px #f5f5f5,
    43px 1394px #f5f5f5, 1821px 1687px #f5f5f5, 106px 130px #f5f5f5,
    1717px 1978px #f5f5f5, 168px 151px #f5f5f5, 183px 740px #f5f5f5,
    945px 1381px #f5f5f5, 669px 1170px #f5f5f5, 1285px 1816px #f5f5f5,
    110px 1217px #f5f5f5, 1623px 813px #f5f5f5, 869px 647px #f5f5f5,
    867px 582px #f5f5f5, 735px 1240px #f5f5f5, 519px 1896px #f5f5f5,
    132px 156px #f5f5f5, 1649px 193px #f5f5f5, 241px 1109px #f5f5f5,
    643px 484px #f5f5f5, 574px 1282px #f5f5f5, 1952px 564px #f5f5f5,
    1978px 145px #f5f5f5, 329px 903px #f5f5f5, 1674px 617px #f5f5f5,
    1978px 558px #f5f5f5, 1808px 1715px #f5f5f5, 1526px 1238px #f5f5f5,
    475px 1330px #f5f5f5, 810px 425px #f5f5f5, 1709px 634px #f5f5f5,
    1658px 336px #f5f5f5, 425px 194px #f5f5f5, 352px 96px #f5f5f5,
    148px 180px #f5f5f5, 1139px 1046px #f5f5f5, 1809px 1233px #f5f5f5,
    1669px 171px #f5f5f5, 263px 1394px #f5f5f5, 534px 715px #f5f5f5,
    396px 1008px #f5f5f5, 589px 1445px #f5f5f5, 1190px 381px #f5f5f5,
    1709px 279px #f5f5f5, 520px 891px #f5f5f5, 1136px 1867px #f5f5f5,
    1280px 1233px #f5f5f5, 836px 296px #f5f5f5, 1348px 646px #f5f5f5,
    1539px 913px #f5f5f5, 423px 781px #f5f5f5, 1271px 1805px #f5f5f5,
    696px 564px #f5f5f5, 1549px 804px #f5f5f5, 303px 1555px #f5f5f5,
    1449px 1903px #f5f5f5, 66px 687px #f5f5f5, 1164px 856px #f5f5f5,
    1958px 1326px #f5f5f5, 125px 157px #f5f5f5, 508px 1669px #f5f5f5,
    465px 725px #f5f5f5, 1925px 1440px #f5f5f5, 405px 793px #f5f5f5,
    278px 110px #f5f5f5, 1084px 1065px #f5f5f5, 1077px 705px #f5f5f5,
    663px 1844px #f5f5f5, 734px 263px #f5f5f5, 870px 1761px #f5f5f5,
    103px 1169px #f5f5f5, 1506px 1295px #f5f5f5, 1883px 926px #f5f5f5,
    335px 1361px #f5f5f5, 1126px 1284px #f5f5f5, 257px 1165px #f5f5f5,
    837px 580px #f5f5f5, 1211px 1362px #f5f5f5, 1137px 1380px #f5f5f5,
    135px 632px #f5f5f5, 1491px 1965px #f5f5f5, 1098px 195px #f5f5f5,
    506px 417px #f5f5f5, 693px 1243px #f5f5f5, 622px 1862px #f5f5f5,
    1412px 1343px #f5f5f5, 948px 1894px #f5f5f5, 1315px 1363px #f5f5f5,
    754px 1098px #f5f5f5, 1931px 930px #f5f5f5, 1831px 342px #f5f5f5,
    1751px 1839px #f5f5f5, 84px 775px #f5f5f5, 1662px 1488px #f5f5f5,
    617px 1769px #f5f5f5, 1869px 1292px #f5f5f5, 963px 432px #f5f5f5,
    371px 1114px #f5f5f5, 37px 642px #f5f5f5, 21px 1184px #f5f5f5,
    602px 366px #f5f5f5, 414px 524px #f5f5f5, 282px 244px #f5f5f5,
    1689px 868px #f5f5f5, 943px 681px #f5f5f5, 898px 679px #f5f5f5,
    449px 1774px #f5f5f5, 1678px 1313px #f5f5f5, 475px 1811px #f5f5f5,
    1146px 1509px #f5f5f5, 1151px 1863px #f5f5f5, 1617px 846px #f5f5f5,
    82px 1077px #f5f5f5, 324px 1317px #f5f5f5, 1516px 885px #f5f5f5,
    1706px 1526px #f5f5f5, 1925px 1180px #f5f5f5, 553px 967px #f5f5f5,
    1072px 536px #f5f5f5, 1715px 1816px #f5f5f5, 185px 286px #f5f5f5,
    1362px 1600px #f5f5f5, 628px 1938px #f5f5f5, 1187px 412px #f5f5f5,
    569px 211px #f5f5f5, 1959px 1356px #f5f5f5, 1571px 105px #f5f5f5,
    319px 1111px #f5f5f5, 36px 1364px #f5f5f5, 502px 1788px #f5f5f5,
    1051px 1993px #f5f5f5, 1617px 773px #f5f5f5, 424px 1507px #f5f5f5,
    1623px 1955px #f5f5f5, 307px 662px #f5f5f5, 183px 1048px #f5f5f5,
    1919px 1453px #f5f5f5, 1006px 1817px #f5f5f5, 468px 673px #f5f5f5,
    1142px 1375px #f5f5f5, 1228px 443px #f5f5f5, 1734px 552px #f5f5f5,
    20px 1041px #f5f5f5, 1783px 334px #f5f5f5, 98px 1237px #f5f5f5,
    1356px 1940px #f5f5f5, 853px 1779px #f5f5f5, 1910px 560px #f5f5f5,
    1174px 1656px #f5f5f5, 110px 1724px #f5f5f5, 542px 1771px #f5f5f5,
    1758px 1931px #f5f5f5, 1463px 1401px #f5f5f5, 1155px 84px #f5f5f5,
    1504px 835px #f5f5f5, 750px 322px #f5f5f5, 407px 1900px #f5f5f5,
    1600px 1141px #f5f5f5, 657px 886px #f5f5f5, 526px 714px #f5f5f5,
    18px 836px #f5f5f5, 1546px 1548px #f5f5f5, 22px 469px #f5f5f5,
    594px 1466px #f5f5f5, 1160px 1078px #f5f5f5, 627px 1055px #f5f5f5,
    195px 699px #f5f5f5, 1099px 684px #f5f5f5, 530px 551px #f5f5f5,
    1160px 1325px #f5f5f5, 894px 727px #f5f5f5, 1157px 98px #f5f5f5,
    136px 1483px #f5f5f5, 1875px 1975px #f5f5f5, 1803px 566px #f5f5f5,
    318px 1073px #f5f5f5, 1866px 1656px #f5f5f5, 543px 414px #f5f5f5,
    719px 474px #f5f5f5, 1115px 738px #f5f5f5, 353px 875px #f5f5f5,
    184px 1938px #f5f5f5, 1854px 1534px #f5f5f5, 420px 1698px #f5f5f5,
    1480px 1550px #f5f5f5, 522px 203px #f5f5f5, 1897px 1904px #f5f5f5,
    975px 1708px #f5f5f5, 1774px 602px #f5f5f5, 1908px 274px #f5f5f5,
    61px 715px #f5f5f5, 983px 1156px #f5f5f5, 326px 1013px #f5f5f5,
    641px 290px #f5f5f5, 1522px 120px #f5f5f5, 405px 1637px #f5f5f5,
    1021px 1099px #f5f5f5, 631px 1145px #f5f5f5, 982px 1967px #f5f5f5,
    200px 651px #f5f5f5, 795px 351px #f5f5f5, 790px 1082px #f5f5f5,
    144px 1572px #f5f5f5, 1542px 901px #f5f5f5, 158px 1524px #f5f5f5,
    849px 1843px #f5f5f5, 1807px 203px #f5f5f5, 1747px 45px #f5f5f5,
    1603px 1738px #f5f5f5, 617px 1966px #f5f5f5, 342px 748px #f5f5f5,
    1779px 1173px #f5f5f5, 1428px 152px #f5f5f5, 589px 1998px #f5f5f5,
    1940px 1838px #f5f5f5, 115px 272px #f5f5f5, 1217px 1395px #f5f5f5,
    1402px 1491px #f5f5f5, 1833px 1814px #f5f5f5, 243px 966px #f5f5f5,
    319px 578px #f5f5f5, 813px 364px #f5f5f5, 669px 882px #f5f5f5,
    551px 134px #f5f5f5, 1819px 920px #f5f5f5, 740px 1826px #f5f5f5,
    1021px 952px #f5f5f5, 1575px 453px #f5f5f5, 324px 419px #f5f5f5,
    929px 417px #f5f5f5, 885px 1112px #f5f5f5, 503px 187px #f5f5f5,
    1908px 362px #f5f5f5, 1063px 1601px #f5f5f5, 169px 1792px #f5f5f5,
    789px 963px #f5f5f5, 1697px 948px #f5f5f5, 1761px 1810px #f5f5f5,
    1844px 1591px #f5f5f5, 1709px 949px #f5f5f5, 1402px 1396px #f5f5f5,
    1037px 225px #f5f5f5, 1832px 518px #f5f5f5, 1728px 1782px #f5f5f5,
    194px 1421px #f5f5f5, 1395px 742px #f5f5f5, 1478px 1325px #f5f5f5,
    40px 593px #f5f5f5, 1732px 117px #f5f5f5, 51px 158px #f5f5f5,
    1598px 1672px #f5f5f5, 701px 849px #f5f5f5, 1403px 1979px #f5f5f5,
    145px 1414px #f5f5f5, 550px 906px #f5f5f5, 1366px 460px #f5f5f5,
    142px 1379px #f5f5f5, 34px 1864px #f5f5f5, 1346px 308px #f5f5f5,
    293px 998px #f5f5f5, 21px 1868px #f5f5f5, 540px 1033px #f5f5f5,
    60px 746px #f5f5f5, 1602px 1476px #f5f5f5, 180px 804px #f5f5f5,
    345px 1982px #f5f5f5, 1439px 640px #f5f5f5, 939px 1834px #f5f5f5,
    20px 432px #f5f5f5, 492px 1549px #f5f5f5, 109px 1579px #f5f5f5,
    1796px 1403px #f5f5f5, 1079px 519px #f5f5f5, 1664px 389px #f5f5f5,
    1627px 1061px #f5f5f5, 823px 419px #f5f5f5, 1399px 1882px #f5f5f5,
    1906px 344px #f5f5f5, 1189px 848px #f5f5f5, 117px 882px #f5f5f5,
    1262px 33px #f5f5f5, 1048px 434px #f5f5f5, 1208px 1309px #f5f5f5,
    1616px 408px #f5f5f5, 1833px 853px #f5f5f5, 1433px 1656px #f5f5f5,
    811px 1861px #f5f5f5, 439px 1672px #f5f5f5, 1105px 248px #f5f5f5,
    328px 1652px #f5f5f5, 13px 1658px #f5f5f5, 685px 987px #f5f5f5,
    985px 403px #f5f5f5, 1664px 1206px #f5f5f5, 1993px 1925px #f5f5f5,
    440px 917px #f5f5f5, 1835px 319px #f5f5f5, 1404px 1907px #f5f5f5,
    624px 1443px #f5f5f5, 843px 954px #f5f5f5, 478px 1567px #f5f5f5,
    895px 1602px #f5f5f5, 1231px 871px #f5f5f5, 1267px 1646px #f5f5f5,
    475px 334px #f5f5f5, 784px 796px #f5f5f5, 1294px 199px #f5f5f5,
    109px 702px #f5f5f5, 1978px 362px #f5f5f5, 291px 940px #f5f5f5,
    971px 1343px #f5f5f5, 74px 719px #f5f5f5, 36px 715px #f5f5f5,
    1007px 1423px #f5f5f5, 860px 314px #f5f5f5, 631px 177px #f5f5f5,
    1900px 1590px #f5f5f5, 1239px 1348px #f5f5f5, 1346px 1270px #f5f5f5,
    1934px 1475px #f5f5f5, 1553px 559px #f5f5f5, 588px 1969px #f5f5f5,
    670px 1269px #f5f5f5, 1484px 376px #f5f5f5, 20px 1424px #f5f5f5,
    1396px 8px #f5f5f5, 969px 244px #f5f5f5, 1807px 538px #f5f5f5,
    1873px 891px #f5f5f5, 636px 1142px #f5f5f5, 1474px 1562px #f5f5f5,
    763px 350px #f5f5f5, 663px 700px #f5f5f5, 500px 1469px #f5f5f5,
    1302px 722px #f5f5f5, 181px 291px #f5f5f5, 266px 893px #f5f5f5,
    1403px 654px #f5f5f5, 492px 460px #f5f5f5, 1503px 1369px #f5f5f5,
    23px 1662px #f5f5f5, 349px 333px #f5f5f5, 1435px 1017px #f5f5f5,
    1441px 705px #f5f5f5, 1708px 1446px #f5f5f5, 1041px 911px #f5f5f5,
    1063px 780px #f5f5f5, 1158px 1356px #f5f5f5, 767px 1454px #f5f5f5,
    1912px 797px #f5f5f5, 1731px 1759px #f5f5f5, 1378px 1390px #f5f5f5,
    1815px 1364px #f5f5f5, 960px 270px #f5f5f5, 1343px 427px #f5f5f5,
    275px 203px #f5f5f5, 1319px 1092px #f5f5f5, 1455px 770px #f5f5f5,
    283px 1503px #f5f5f5, 1505px 901px #f5f5f5, 1738px 1561px #f5f5f5,
    1526px 1935px #f5f5f5, 1757px 669px #f5f5f5, 1640px 620px #f5f5f5,
    1750px 722px #f5f5f5, 748px 66px #f5f5f5, 1149px 540px #f5f5f5,
    159px 953px #f5f5f5, 200px 1426px #f5f5f5, 515px 1110px #f5f5f5,
    1552px 737px #f5f5f5, 1094px 1459px #f5f5f5, 778px 799px #f5f5f5,
    1031px 523px #f5f5f5, 743px 1825px #f5f5f5, 1100px 882px #f5f5f5,
    1088px 1836px #f5f5f5, 255px 599px #f5f5f5, 67px 1361px #f5f5f5,
    247px 1721px #f5f5f5, 1722px 346px #f5f5f5, 1822px 155px #f5f5f5,
    452px 1973px #f5f5f5, 415px 1960px #f5f5f5, 1109px 57px #f5f5f5,
    273px 1392px #f5f5f5, 404px 1071px #f5f5f5, 1212px 353px #f5f5f5,
    370px 460px #f5f5f5, 795px 1523px #f5f5f5, 1932px 340px #f5f5f5,
    51px 1473px #f5f5f5, 1268px 364px #f5f5f5, 1512px 1862px #f5f5f5,
    1678px 1801px #f5f5f5, 1796px 579px #f5f5f5, 254px 251px #f5f5f5,
    1466px 1717px #f5f5f5, 893px 379px #f5f5f5, 1153px 923px #f5f5f5,
    913px 1808px #f5f5f5, 791px 789px #f5f5f5, 417px 1924px #f5f5f5,
    1336px 1599px #f5f5f5, 1695px 908px #f5f5f5, 1120px 114px #f5f5f5,
    493px 1949px #f5f5f5, 68px 1905px #f5f5f5, 969px 481px #f5f5f5,
    1420px 1095px #f5f5f5, 800px 1117px #f5f5f5, 390px 234px #f5f5f5,
    356px 1644px #f5f5f5, 1098px 1486px #f5f5f5, 1360px 521px #f5f5f5,
    149px 1198px #f5f5f5, 354px 747px #f5f5f5, 1749px 487px #f5f5f5,
    470px 76px #f5f5f5, 1672px 289px #f5f5f5, 1731px 545px #f5f5f5,
    1547px 1590px #f5f5f5, 498px 692px #f5f5f5, 398px 1592px #f5f5f5,
    1846px 1237px #f5f5f5, 1537px 1474px #f5f5f5, 1726px 1374px #f5f5f5,
    1922px 858px #f5f5f5, 376px 321px #f5f5f5, 985px 227px #f5f5f5,
    234px 1421px #f5f5f5, 760px 745px #f5f5f5, 1990px 1132px #f5f5f5,
    1560px 1597px #f5f5f5, 338px 1310px #f5f5f5, 1924px 1664px #f5f5f5,
    547px 1747px #f5f5f5, 1639px 1282px #f5f5f5, 1202px 337px #f5f5f5,
    1985px 779px #f5f5f5, 737px 456px #f5f5f5, 89px 501px #f5f5f5,
    963px 792px #f5f5f5, 655px 1447px #f5f5f5, 1492px 1994px #f5f5f5,
    1171px 254px #f5f5f5, 892px 827px #f5f5f5, 1735px 442px #f5f5f5,
    1474px 1187px #f5f5f5, 846px 1518px #f5f5f5, 557px 1805px #f5f5f5,
    738px 945px #f5f5f5, 795px 68px #f5f5f5, 663px 1956px #f5f5f5,
    1607px 290px #f5f5f5, 1524px 15px #f5f5f5, 1097px 1911px #f5f5f5,
    157px 1939px #f5f5f5, 935px 1065px #f5f5f5, 1809px 1708px #f5f5f5,
    164px 1157px #f5f5f5, 83px 855px #f5f5f5, 625px 501px #f5f5f5,
    814px 398px #f5f5f5, 552px 695px #f5f5f5, 597px 1546px #f5f5f5,
    1237px 1417px #f5f5f5, 628px 284px #f5f5f5, 866px 767px #f5f5f5,
    1403px 1394px #f5f5f5, 765px 1563px #f5f5f5, 1648px 109px #f5f5f5,
    1205px 1659px #f5f5f5, 921px 1313px #f5f5f5, 1319px 243px #f5f5f5,
    18px 125px #f5f5f5, 7px 777px #f5f5f5, 181px 418px #f5f5f5,
    1062px 1892px #f5f5f5, 382px 106px #f5f5f5, 994px 751px #f5f5f5,
    964px 234px #f5f5f5, 40px 118px #f5f5f5, 278px 706px #f5f5f5,
    1540px 1978px #f5f5f5, 425px 1661px #f5f5f5, 1050px 321px #f5f5f5,
    735px 1729px #f5f5f5, 1438px 260px #f5f5f5, 1229px 1109px #f5f5f5,
    186px 1041px #f5f5f5, 244px 1184px #f5f5f5, 392px 1472px #f5f5f5,
    670px 1249px #f5f5f5, 1260px 1443px #f5f5f5, 1977px 1511px #f5f5f5,
    1240px 773px #f5f5f5, 303px 513px #f5f5f5, 63px 1530px #f5f5f5,
    610px 792px #f5f5f5, 1987px 1647px #f5f5f5, 676px 1597px #f5f5f5,
    1740px 1244px #f5f5f5, 816px 1661px #f5f5f5, 351px 802px #f5f5f5,
    252px 1082px #f5f5f5, 31px 365px #f5f5f5, 1453px 984px #f5f5f5,
    667px 1233px #f5f5f5, 1247px 1800px #f5f5f5, 839px 270px #f5f5f5,
    775px 913px #f5f5f5, 1966px 1398px #f5f5f5, 499px 813px #f5f5f5,
    922px 1982px #f5f5f5, 1409px 1902px #f5f5f5, 1499px 1766px #f5f5f5,
    721px 899px #f5f5f5, 788px 807px #f5f5f5, 989px 1355px #f5f5f5,
    1248px 1274px #f5f5f5, 849px 1091px #f5f5f5, 1799px 1036px #f5f5f5,
    1486px 700px #f5f5f5, 170px 1989px #f5f5f5, 1275px 799px #f5f5f5,
    772px 2000px #f5f5f5, 1642px 362px #f5f5f5, 216px 940px #f5f5f5,
    1893px 281px #f5f5f5, 1944px 1298px #f5f5f5, 1294px 400px #f5f5f5,
    1523px 441px #f5f5f5, 1829px 340px #f5f5f5, 468px 170px #f5f5f5,
    1099px 967px #f5f5f5, 1331px 665px #f5f5f5, 1174px 1553px #f5f5f5,
    1567px 325px #f5f5f5, 1028px 1399px #f5f5f5, 781px 1451px #f5f5f5,
    1912px 1954px #f5f5f5, 874px 873px #f5f5f5, 1298px 1722px #f5f5f5,
    1879px 706px #f5f5f5, 57px 1221px #f5f5f5, 1116px 1432px #f5f5f5,
    48px 811px #f5f5f5, 101px 916px #f5f5f5, 677px 304px #f5f5f5,
    1203px 639px #f5f5f5, 1391px 199px #f5f5f5, 1895px 1988px #f5f5f5,
    1462px 1023px #f5f5f5, 1216px 1751px #f5f5f5, 1261px 663px #f5f5f5,
    1290px 1119px #f5f5f5, 137px 1793px #f5f5f5, 1052px 1470px #f5f5f5,
    1561px 226px #f5f5f5, 1156px 402px #f5f5f5, 709px 693px #f5f5f5,
    1040px 1911px #f5f5f5, 1624px 1115px #f5f5f5, 551px 475px #f5f5f5,
    416px 1090px #f5f5f5, 1183px 451px #f5f5f5, 58px 765px #f5f5f5,
    743px 1016px #f5f5f5, 198px 369px #f5f5f5, 1645px 1503px #f5f5f5,
    997px 22px #f5f5f5, 1447px 1323px #f5f5f5, 379px 883px #f5f5f5,
    1171px 1195px #f5f5f5, 919px 133px #f5f5f5, 1400px 517px #f5f5f5,
    725px 804px #f5f5f5, 1600px 699px #f5f5f5, 357px 581px #f5f5f5,
    266px 1713px #f5f5f5, 848px 1749px #f5f5f5, 1963px 1045px #f5f5f5,
    119px 1136px #f5f5f5;
  -webkit-animation: animStar 50s linear infinite;
  -moz-animation: animStar 50s linear infinite;
  -ms-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 117px 1613px #f5f5f5, 1488px 635px #f5f5f5, 944px 914px #f5f5f5,
    647px 277px #f5f5f5, 1792px 1205px #f5f5f5, 656px 1517px #f5f5f5,
    820px 1839px #f5f5f5, 1153px 1400px #f5f5f5, 870px 13px #f5f5f5,
    550px 702px #f5f5f5, 1155px 1056px #f5f5f5, 88px 1709px #f5f5f5,
    1450px 1090px #f5f5f5, 1929px 457px #f5f5f5, 1390px 905px #f5f5f5,
    1771px 269px #f5f5f5, 1741px 669px #f5f5f5, 432px 64px #f5f5f5,
    563px 996px #f5f5f5, 1918px 1873px #f5f5f5, 1845px 1211px #f5f5f5,
    231px 1503px #f5f5f5, 37px 220px #f5f5f5, 1970px 495px #f5f5f5,
    1812px 925px #f5f5f5, 67px 1398px #f5f5f5, 535px 279px #f5f5f5,
    1837px 829px #f5f5f5, 1945px 685px #f5f5f5, 1677px 1817px #f5f5f5,
    1317px 1415px #f5f5f5, 1785px 905px #f5f5f5, 1787px 1554px #f5f5f5,
    802px 1296px #f5f5f5, 512px 1101px #f5f5f5, 583px 1364px #f5f5f5,
    336px 558px #f5f5f5, 979px 334px #f5f5f5, 106px 792px #f5f5f5,
    204px 34px #f5f5f5, 1845px 1763px #f5f5f5, 445px 1599px #f5f5f5,
    386px 453px #f5f5f5, 471px 952px #f5f5f5, 1466px 1676px #f5f5f5,
    1885px 303px #f5f5f5, 51px 1717px #f5f5f5, 1211px 299px #f5f5f5,
    1546px 1887px #f5f5f5, 1067px 33px #f5f5f5, 1088px 1326px #f5f5f5,
    1938px 760px #f5f5f5, 470px 648px #f5f5f5, 1213px 269px #f5f5f5,
    1767px 78px #f5f5f5, 977px 976px #f5f5f5, 1926px 175px #f5f5f5,
    722px 1512px #f5f5f5, 945px 227px #f5f5f5, 1811px 99px #f5f5f5,
    1912px 1406px #f5f5f5, 1602px 1243px #f5f5f5, 610px 449px #f5f5f5,
    654px 1393px #f5f5f5, 1930px 1193px #f5f5f5, 258px 1184px #f5f5f5,
    89px 265px #f5f5f5, 824px 1494px #f5f5f5, 1506px 1435px #f5f5f5,
    1027px 753px #f5f5f5, 1px 1197px #f5f5f5, 530px 1161px #f5f5f5,
    864px 1555px #f5f5f5, 1610px 1604px #f5f5f5, 1035px 1114px #f5f5f5,
    1456px 133px #f5f5f5, 1196px 1253px #f5f5f5, 361px 1037px #f5f5f5,
    834px 351px #f5f5f5, 436px 1676px #f5f5f5, 1194px 1007px #f5f5f5,
    1141px 647px #f5f5f5, 319px 454px #f5f5f5, 937px 1769px #f5f5f5,
    1872px 1013px #f5f5f5, 733px 643px #f5f5f5, 1250px 511px #f5f5f5,
    189px 296px #f5f5f5, 1639px 163px #f5f5f5, 1584px 336px #f5f5f5,
    1912px 1343px #f5f5f5, 1298px 1307px #f5f5f5, 1750px 902px #f5f5f5,
    1129px 845px #f5f5f5, 1899px 1470px #f5f5f5, 1427px 232px #f5f5f5,
    1391px 838px #f5f5f5, 1225px 1819px #f5f5f5, 190px 1366px #f5f5f5,
    1865px 518px #f5f5f5, 203px 1383px #f5f5f5, 1455px 614px #f5f5f5,
    423px 354px #f5f5f5, 1678px 1790px #f5f5f5, 241px 608px #f5f5f5,
    1089px 730px #f5f5f5, 1342px 38px #f5f5f5, 1848px 249px #f5f5f5,
    1874px 1785px #f5f5f5, 1040px 1837px #f5f5f5, 751px 261px #f5f5f5,
    510px 1975px #f5f5f5, 52px 795px #f5f5f5, 1786px 1310px #f5f5f5,
    498px 712px #f5f5f5, 190px 375px #f5f5f5, 1341px 722px #f5f5f5,
    43px 1394px #f5f5f5, 1821px 1687px #f5f5f5, 106px 130px #f5f5f5,
    1717px 1978px #f5f5f5, 168px 151px #f5f5f5, 183px 740px #f5f5f5,
    945px 1381px #f5f5f5, 669px 1170px #f5f5f5, 1285px 1816px #f5f5f5,
    110px 1217px #f5f5f5, 1623px 813px #f5f5f5, 869px 647px #f5f5f5,
    867px 582px #f5f5f5, 735px 1240px #f5f5f5, 519px 1896px #f5f5f5,
    132px 156px #f5f5f5, 1649px 193px #f5f5f5, 241px 1109px #f5f5f5,
    643px 484px #f5f5f5, 574px 1282px #f5f5f5, 1952px 564px #f5f5f5,
    1978px 145px #f5f5f5, 329px 903px #f5f5f5, 1674px 617px #f5f5f5,
    1978px 558px #f5f5f5, 1808px 1715px #f5f5f5, 1526px 1238px #f5f5f5,
    475px 1330px #f5f5f5, 810px 425px #f5f5f5, 1709px 634px #f5f5f5,
    1658px 336px #f5f5f5, 425px 194px #f5f5f5, 352px 96px #f5f5f5,
    148px 180px #f5f5f5, 1139px 1046px #f5f5f5, 1809px 1233px #f5f5f5,
    1669px 171px #f5f5f5, 263px 1394px #f5f5f5, 534px 715px #f5f5f5,
    396px 1008px #f5f5f5, 589px 1445px #f5f5f5, 1190px 381px #f5f5f5,
    1709px 279px #f5f5f5, 520px 891px #f5f5f5, 1136px 1867px #f5f5f5,
    1280px 1233px #f5f5f5, 836px 296px #f5f5f5, 1348px 646px #f5f5f5,
    1539px 913px #f5f5f5, 423px 781px #f5f5f5, 1271px 1805px #f5f5f5,
    696px 564px #f5f5f5, 1549px 804px #f5f5f5, 303px 1555px #f5f5f5,
    1449px 1903px #f5f5f5, 66px 687px #f5f5f5, 1164px 856px #f5f5f5,
    1958px 1326px #f5f5f5, 125px 157px #f5f5f5, 508px 1669px #f5f5f5,
    465px 725px #f5f5f5, 1925px 1440px #f5f5f5, 405px 793px #f5f5f5,
    278px 110px #f5f5f5, 1084px 1065px #f5f5f5, 1077px 705px #f5f5f5,
    663px 1844px #f5f5f5, 734px 263px #f5f5f5, 870px 1761px #f5f5f5,
    103px 1169px #f5f5f5, 1506px 1295px #f5f5f5, 1883px 926px #f5f5f5,
    335px 1361px #f5f5f5, 1126px 1284px #f5f5f5, 257px 1165px #f5f5f5,
    837px 580px #f5f5f5, 1211px 1362px #f5f5f5, 1137px 1380px #f5f5f5,
    135px 632px #f5f5f5, 1491px 1965px #f5f5f5, 1098px 195px #f5f5f5,
    506px 417px #f5f5f5, 693px 1243px #f5f5f5, 622px 1862px #f5f5f5,
    1412px 1343px #f5f5f5, 948px 1894px #f5f5f5, 1315px 1363px #f5f5f5,
    754px 1098px #f5f5f5, 1931px 930px #f5f5f5, 1831px 342px #f5f5f5,
    1751px 1839px #f5f5f5, 84px 775px #f5f5f5, 1662px 1488px #f5f5f5,
    617px 1769px #f5f5f5, 1869px 1292px #f5f5f5, 963px 432px #f5f5f5,
    371px 1114px #f5f5f5, 37px 642px #f5f5f5, 21px 1184px #f5f5f5,
    602px 366px #f5f5f5, 414px 524px #f5f5f5, 282px 244px #f5f5f5,
    1689px 868px #f5f5f5, 943px 681px #f5f5f5, 898px 679px #f5f5f5,
    449px 1774px #f5f5f5, 1678px 1313px #f5f5f5, 475px 1811px #f5f5f5,
    1146px 1509px #f5f5f5, 1151px 1863px #f5f5f5, 1617px 846px #f5f5f5,
    82px 1077px #f5f5f5, 324px 1317px #f5f5f5, 1516px 885px #f5f5f5,
    1706px 1526px #f5f5f5, 1925px 1180px #f5f5f5, 553px 967px #f5f5f5,
    1072px 536px #f5f5f5, 1715px 1816px #f5f5f5, 185px 286px #f5f5f5,
    1362px 1600px #f5f5f5, 628px 1938px #f5f5f5, 1187px 412px #f5f5f5,
    569px 211px #f5f5f5, 1959px 1356px #f5f5f5, 1571px 105px #f5f5f5,
    319px 1111px #f5f5f5, 36px 1364px #f5f5f5, 502px 1788px #f5f5f5,
    1051px 1993px #f5f5f5, 1617px 773px #f5f5f5, 424px 1507px #f5f5f5,
    1623px 1955px #f5f5f5, 307px 662px #f5f5f5, 183px 1048px #f5f5f5,
    1919px 1453px #f5f5f5, 1006px 1817px #f5f5f5, 468px 673px #f5f5f5,
    1142px 1375px #f5f5f5, 1228px 443px #f5f5f5, 1734px 552px #f5f5f5,
    20px 1041px #f5f5f5, 1783px 334px #f5f5f5, 98px 1237px #f5f5f5,
    1356px 1940px #f5f5f5, 853px 1779px #f5f5f5, 1910px 560px #f5f5f5,
    1174px 1656px #f5f5f5, 110px 1724px #f5f5f5, 542px 1771px #f5f5f5,
    1758px 1931px #f5f5f5, 1463px 1401px #f5f5f5, 1155px 84px #f5f5f5,
    1504px 835px #f5f5f5, 750px 322px #f5f5f5, 407px 1900px #f5f5f5,
    1600px 1141px #f5f5f5, 657px 886px #f5f5f5, 526px 714px #f5f5f5,
    18px 836px #f5f5f5, 1546px 1548px #f5f5f5, 22px 469px #f5f5f5,
    594px 1466px #f5f5f5, 1160px 1078px #f5f5f5, 627px 1055px #f5f5f5,
    195px 699px #f5f5f5, 1099px 684px #f5f5f5, 530px 551px #f5f5f5,
    1160px 1325px #f5f5f5, 894px 727px #f5f5f5, 1157px 98px #f5f5f5,
    136px 1483px #f5f5f5, 1875px 1975px #f5f5f5, 1803px 566px #f5f5f5,
    318px 1073px #f5f5f5, 1866px 1656px #f5f5f5, 543px 414px #f5f5f5,
    719px 474px #f5f5f5, 1115px 738px #f5f5f5, 353px 875px #f5f5f5,
    184px 1938px #f5f5f5, 1854px 1534px #f5f5f5, 420px 1698px #f5f5f5,
    1480px 1550px #f5f5f5, 522px 203px #f5f5f5, 1897px 1904px #f5f5f5,
    975px 1708px #f5f5f5, 1774px 602px #f5f5f5, 1908px 274px #f5f5f5,
    61px 715px #f5f5f5, 983px 1156px #f5f5f5, 326px 1013px #f5f5f5,
    641px 290px #f5f5f5, 1522px 120px #f5f5f5, 405px 1637px #f5f5f5,
    1021px 1099px #f5f5f5, 631px 1145px #f5f5f5, 982px 1967px #f5f5f5,
    200px 651px #f5f5f5, 795px 351px #f5f5f5, 790px 1082px #f5f5f5,
    144px 1572px #f5f5f5, 1542px 901px #f5f5f5, 158px 1524px #f5f5f5,
    849px 1843px #f5f5f5, 1807px 203px #f5f5f5, 1747px 45px #f5f5f5,
    1603px 1738px #f5f5f5, 617px 1966px #f5f5f5, 342px 748px #f5f5f5,
    1779px 1173px #f5f5f5, 1428px 152px #f5f5f5, 589px 1998px #f5f5f5,
    1940px 1838px #f5f5f5, 115px 272px #f5f5f5, 1217px 1395px #f5f5f5,
    1402px 1491px #f5f5f5, 1833px 1814px #f5f5f5, 243px 966px #f5f5f5,
    319px 578px #f5f5f5, 813px 364px #f5f5f5, 669px 882px #f5f5f5,
    551px 134px #f5f5f5, 1819px 920px #f5f5f5, 740px 1826px #f5f5f5,
    1021px 952px #f5f5f5, 1575px 453px #f5f5f5, 324px 419px #f5f5f5,
    929px 417px #f5f5f5, 885px 1112px #f5f5f5, 503px 187px #f5f5f5,
    1908px 362px #f5f5f5, 1063px 1601px #f5f5f5, 169px 1792px #f5f5f5,
    789px 963px #f5f5f5, 1697px 948px #f5f5f5, 1761px 1810px #f5f5f5,
    1844px 1591px #f5f5f5, 1709px 949px #f5f5f5, 1402px 1396px #f5f5f5,
    1037px 225px #f5f5f5, 1832px 518px #f5f5f5, 1728px 1782px #f5f5f5,
    194px 1421px #f5f5f5, 1395px 742px #f5f5f5, 1478px 1325px #f5f5f5,
    40px 593px #f5f5f5, 1732px 117px #f5f5f5, 51px 158px #f5f5f5,
    1598px 1672px #f5f5f5, 701px 849px #f5f5f5, 1403px 1979px #f5f5f5,
    145px 1414px #f5f5f5, 550px 906px #f5f5f5, 1366px 460px #f5f5f5,
    142px 1379px #f5f5f5, 34px 1864px #f5f5f5, 1346px 308px #f5f5f5,
    293px 998px #f5f5f5, 21px 1868px #f5f5f5, 540px 1033px #f5f5f5,
    60px 746px #f5f5f5, 1602px 1476px #f5f5f5, 180px 804px #f5f5f5,
    345px 1982px #f5f5f5, 1439px 640px #f5f5f5, 939px 1834px #f5f5f5,
    20px 432px #f5f5f5, 492px 1549px #f5f5f5, 109px 1579px #f5f5f5,
    1796px 1403px #f5f5f5, 1079px 519px #f5f5f5, 1664px 389px #f5f5f5,
    1627px 1061px #f5f5f5, 823px 419px #f5f5f5, 1399px 1882px #f5f5f5,
    1906px 344px #f5f5f5, 1189px 848px #f5f5f5, 117px 882px #f5f5f5,
    1262px 33px #f5f5f5, 1048px 434px #f5f5f5, 1208px 1309px #f5f5f5,
    1616px 408px #f5f5f5, 1833px 853px #f5f5f5, 1433px 1656px #f5f5f5,
    811px 1861px #f5f5f5, 439px 1672px #f5f5f5, 1105px 248px #f5f5f5,
    328px 1652px #f5f5f5, 13px 1658px #f5f5f5, 685px 987px #f5f5f5,
    985px 403px #f5f5f5, 1664px 1206px #f5f5f5, 1993px 1925px #f5f5f5,
    440px 917px #f5f5f5, 1835px 319px #f5f5f5, 1404px 1907px #f5f5f5,
    624px 1443px #f5f5f5, 843px 954px #f5f5f5, 478px 1567px #f5f5f5,
    895px 1602px #f5f5f5, 1231px 871px #f5f5f5, 1267px 1646px #f5f5f5,
    475px 334px #f5f5f5, 784px 796px #f5f5f5, 1294px 199px #f5f5f5,
    109px 702px #f5f5f5, 1978px 362px #f5f5f5, 291px 940px #f5f5f5,
    971px 1343px #f5f5f5, 74px 719px #f5f5f5, 36px 715px #f5f5f5,
    1007px 1423px #f5f5f5, 860px 314px #f5f5f5, 631px 177px #f5f5f5,
    1900px 1590px #f5f5f5, 1239px 1348px #f5f5f5, 1346px 1270px #f5f5f5,
    1934px 1475px #f5f5f5, 1553px 559px #f5f5f5, 588px 1969px #f5f5f5,
    670px 1269px #f5f5f5, 1484px 376px #f5f5f5, 20px 1424px #f5f5f5,
    1396px 8px #f5f5f5, 969px 244px #f5f5f5, 1807px 538px #f5f5f5,
    1873px 891px #f5f5f5, 636px 1142px #f5f5f5, 1474px 1562px #f5f5f5,
    763px 350px #f5f5f5, 663px 700px #f5f5f5, 500px 1469px #f5f5f5,
    1302px 722px #f5f5f5, 181px 291px #f5f5f5, 266px 893px #f5f5f5,
    1403px 654px #f5f5f5, 492px 460px #f5f5f5, 1503px 1369px #f5f5f5,
    23px 1662px #f5f5f5, 349px 333px #f5f5f5, 1435px 1017px #f5f5f5,
    1441px 705px #f5f5f5, 1708px 1446px #f5f5f5, 1041px 911px #f5f5f5,
    1063px 780px #f5f5f5, 1158px 1356px #f5f5f5, 767px 1454px #f5f5f5,
    1912px 797px #f5f5f5, 1731px 1759px #f5f5f5, 1378px 1390px #f5f5f5,
    1815px 1364px #f5f5f5, 960px 270px #f5f5f5, 1343px 427px #f5f5f5,
    275px 203px #f5f5f5, 1319px 1092px #f5f5f5, 1455px 770px #f5f5f5,
    283px 1503px #f5f5f5, 1505px 901px #f5f5f5, 1738px 1561px #f5f5f5,
    1526px 1935px #f5f5f5, 1757px 669px #f5f5f5, 1640px 620px #f5f5f5,
    1750px 722px #f5f5f5, 748px 66px #f5f5f5, 1149px 540px #f5f5f5,
    159px 953px #f5f5f5, 200px 1426px #f5f5f5, 515px 1110px #f5f5f5,
    1552px 737px #f5f5f5, 1094px 1459px #f5f5f5, 778px 799px #f5f5f5,
    1031px 523px #f5f5f5, 743px 1825px #f5f5f5, 1100px 882px #f5f5f5,
    1088px 1836px #f5f5f5, 255px 599px #f5f5f5, 67px 1361px #f5f5f5,
    247px 1721px #f5f5f5, 1722px 346px #f5f5f5, 1822px 155px #f5f5f5,
    452px 1973px #f5f5f5, 415px 1960px #f5f5f5, 1109px 57px #f5f5f5,
    273px 1392px #f5f5f5, 404px 1071px #f5f5f5, 1212px 353px #f5f5f5,
    370px 460px #f5f5f5, 795px 1523px #f5f5f5, 1932px 340px #f5f5f5,
    51px 1473px #f5f5f5, 1268px 364px #f5f5f5, 1512px 1862px #f5f5f5,
    1678px 1801px #f5f5f5, 1796px 579px #f5f5f5, 254px 251px #f5f5f5,
    1466px 1717px #f5f5f5, 893px 379px #f5f5f5, 1153px 923px #f5f5f5,
    913px 1808px #f5f5f5, 791px 789px #f5f5f5, 417px 1924px #f5f5f5,
    1336px 1599px #f5f5f5, 1695px 908px #f5f5f5, 1120px 114px #f5f5f5,
    493px 1949px #f5f5f5, 68px 1905px #f5f5f5, 969px 481px #f5f5f5,
    1420px 1095px #f5f5f5, 800px 1117px #f5f5f5, 390px 234px #f5f5f5,
    356px 1644px #f5f5f5, 1098px 1486px #f5f5f5, 1360px 521px #f5f5f5,
    149px 1198px #f5f5f5, 354px 747px #f5f5f5, 1749px 487px #f5f5f5,
    470px 76px #f5f5f5, 1672px 289px #f5f5f5, 1731px 545px #f5f5f5,
    1547px 1590px #f5f5f5, 498px 692px #f5f5f5, 398px 1592px #f5f5f5,
    1846px 1237px #f5f5f5, 1537px 1474px #f5f5f5, 1726px 1374px #f5f5f5,
    1922px 858px #f5f5f5, 376px 321px #f5f5f5, 985px 227px #f5f5f5,
    234px 1421px #f5f5f5, 760px 745px #f5f5f5, 1990px 1132px #f5f5f5,
    1560px 1597px #f5f5f5, 338px 1310px #f5f5f5, 1924px 1664px #f5f5f5,
    547px 1747px #f5f5f5, 1639px 1282px #f5f5f5, 1202px 337px #f5f5f5,
    1985px 779px #f5f5f5, 737px 456px #f5f5f5, 89px 501px #f5f5f5,
    963px 792px #f5f5f5, 655px 1447px #f5f5f5, 1492px 1994px #f5f5f5,
    1171px 254px #f5f5f5, 892px 827px #f5f5f5, 1735px 442px #f5f5f5,
    1474px 1187px #f5f5f5, 846px 1518px #f5f5f5, 557px 1805px #f5f5f5,
    738px 945px #f5f5f5, 795px 68px #f5f5f5, 663px 1956px #f5f5f5,
    1607px 290px #f5f5f5, 1524px 15px #f5f5f5, 1097px 1911px #f5f5f5,
    157px 1939px #f5f5f5, 935px 1065px #f5f5f5, 1809px 1708px #f5f5f5,
    164px 1157px #f5f5f5, 83px 855px #f5f5f5, 625px 501px #f5f5f5,
    814px 398px #f5f5f5, 552px 695px #f5f5f5, 597px 1546px #f5f5f5,
    1237px 1417px #f5f5f5, 628px 284px #f5f5f5, 866px 767px #f5f5f5,
    1403px 1394px #f5f5f5, 765px 1563px #f5f5f5, 1648px 109px #f5f5f5,
    1205px 1659px #f5f5f5, 921px 1313px #f5f5f5, 1319px 243px #f5f5f5,
    18px 125px #f5f5f5, 7px 777px #f5f5f5, 181px 418px #f5f5f5,
    1062px 1892px #f5f5f5, 382px 106px #f5f5f5, 994px 751px #f5f5f5,
    964px 234px #f5f5f5, 40px 118px #f5f5f5, 278px 706px #f5f5f5,
    1540px 1978px #f5f5f5, 425px 1661px #f5f5f5, 1050px 321px #f5f5f5,
    735px 1729px #f5f5f5, 1438px 260px #f5f5f5, 1229px 1109px #f5f5f5,
    186px 1041px #f5f5f5, 244px 1184px #f5f5f5, 392px 1472px #f5f5f5,
    670px 1249px #f5f5f5, 1260px 1443px #f5f5f5, 1977px 1511px #f5f5f5,
    1240px 773px #f5f5f5, 303px 513px #f5f5f5, 63px 1530px #f5f5f5,
    610px 792px #f5f5f5, 1987px 1647px #f5f5f5, 676px 1597px #f5f5f5,
    1740px 1244px #f5f5f5, 816px 1661px #f5f5f5, 351px 802px #f5f5f5,
    252px 1082px #f5f5f5, 31px 365px #f5f5f5, 1453px 984px #f5f5f5,
    667px 1233px #f5f5f5, 1247px 1800px #f5f5f5, 839px 270px #f5f5f5,
    775px 913px #f5f5f5, 1966px 1398px #f5f5f5, 499px 813px #f5f5f5,
    922px 1982px #f5f5f5, 1409px 1902px #f5f5f5, 1499px 1766px #f5f5f5,
    721px 899px #f5f5f5, 788px 807px #f5f5f5, 989px 1355px #f5f5f5,
    1248px 1274px #f5f5f5, 849px 1091px #f5f5f5, 1799px 1036px #f5f5f5,
    1486px 700px #f5f5f5, 170px 1989px #f5f5f5, 1275px 799px #f5f5f5,
    772px 2000px #f5f5f5, 1642px 362px #f5f5f5, 216px 940px #f5f5f5,
    1893px 281px #f5f5f5, 1944px 1298px #f5f5f5, 1294px 400px #f5f5f5,
    1523px 441px #f5f5f5, 1829px 340px #f5f5f5, 468px 170px #f5f5f5,
    1099px 967px #f5f5f5, 1331px 665px #f5f5f5, 1174px 1553px #f5f5f5,
    1567px 325px #f5f5f5, 1028px 1399px #f5f5f5, 781px 1451px #f5f5f5,
    1912px 1954px #f5f5f5, 874px 873px #f5f5f5, 1298px 1722px #f5f5f5,
    1879px 706px #f5f5f5, 57px 1221px #f5f5f5, 1116px 1432px #f5f5f5,
    48px 811px #f5f5f5, 101px 916px #f5f5f5, 677px 304px #f5f5f5,
    1203px 639px #f5f5f5, 1391px 199px #f5f5f5, 1895px 1988px #f5f5f5,
    1462px 1023px #f5f5f5, 1216px 1751px #f5f5f5, 1261px 663px #f5f5f5,
    1290px 1119px #f5f5f5, 137px 1793px #f5f5f5, 1052px 1470px #f5f5f5,
    1561px 226px #f5f5f5, 1156px 402px #f5f5f5, 709px 693px #f5f5f5,
    1040px 1911px #f5f5f5, 1624px 1115px #f5f5f5, 551px 475px #f5f5f5,
    416px 1090px #f5f5f5, 1183px 451px #f5f5f5, 58px 765px #f5f5f5,
    743px 1016px #f5f5f5, 198px 369px #f5f5f5, 1645px 1503px #f5f5f5,
    997px 22px #f5f5f5, 1447px 1323px #f5f5f5, 379px 883px #f5f5f5,
    1171px 1195px #f5f5f5, 919px 133px #f5f5f5, 1400px 517px #f5f5f5,
    725px 804px #f5f5f5, 1600px 699px #f5f5f5, 357px 581px #f5f5f5,
    266px 1713px #f5f5f5, 848px 1749px #f5f5f5, 1963px 1045px #f5f5f5,
    119px 1136px #f5f5f5;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1117px 1306px #f5f5f5, 1078px 1783px #f5f5f5,
    1179px 1085px #f5f5f5, 1145px 920px #f5f5f5, 422px 1233px #f5f5f5,
    387px 98px #f5f5f5, 1153px 637px #f5f5f5, 1084px 782px #f5f5f5,
    476px 453px #f5f5f5, 926px 1306px #f5f5f5, 60px 1086px #f5f5f5,
    753px 1575px #f5f5f5, 272px 1684px #f5f5f5, 1285px 750px #f5f5f5,
    1416px 1327px #f5f5f5, 1931px 473px #f5f5f5, 736px 1395px #f5f5f5,
    1816px 763px #f5f5f5, 438px 879px #f5f5f5, 665px 1902px #f5f5f5,
    1341px 677px #f5f5f5, 1404px 1073px #f5f5f5, 100px 597px #f5f5f5,
    357px 1689px #f5f5f5, 1044px 1342px #f5f5f5, 1954px 502px #f5f5f5,
    1192px 1308px #f5f5f5, 540px 1239px #f5f5f5, 1360px 552px #f5f5f5,
    89px 752px #f5f5f5, 659px 1253px #f5f5f5, 62px 517px #f5f5f5,
    1375px 1705px #f5f5f5, 1343px 1511px #f5f5f5, 1659px 1922px #f5f5f5,
    1560px 289px #f5f5f5, 1362px 1799px #f5f5f5, 1886px 1480px #f5f5f5,
    1718px 1885px #f5f5f5, 824px 738px #f5f5f5, 1060px 1370px #f5f5f5,
    1781px 1171px #f5f5f5, 255px 273px #f5f5f5, 1197px 120px #f5f5f5,
    213px 7px #f5f5f5, 1226px 1920px #f5f5f5, 1844px 207px #f5f5f5,
    1675px 970px #f5f5f5, 1435px 1283px #f5f5f5, 37px 353px #f5f5f5,
    59px 417px #f5f5f5, 921px 1602px #f5f5f5, 1549px 1490px #f5f5f5,
    638px 1845px #f5f5f5, 1328px 198px #f5f5f5, 1050px 1149px #f5f5f5,
    1884px 711px #f5f5f5, 333px 263px #f5f5f5, 342px 1508px #f5f5f5,
    1388px 1810px #f5f5f5, 1377px 1558px #f5f5f5, 890px 487px #f5f5f5,
    1081px 759px #f5f5f5, 890px 1515px #f5f5f5, 911px 1284px #f5f5f5,
    335px 735px #f5f5f5, 1140px 549px #f5f5f5, 1239px 1064px #f5f5f5,
    226px 71px #f5f5f5, 1100px 1278px #f5f5f5, 1851px 1805px #f5f5f5,
    1370px 1999px #f5f5f5, 1008px 1122px #f5f5f5, 785px 813px #f5f5f5,
    1358px 601px #f5f5f5, 1833px 1305px #f5f5f5, 1768px 1304px #f5f5f5,
    1303px 532px #f5f5f5, 860px 598px #f5f5f5, 1329px 593px #f5f5f5,
    1038px 1088px #f5f5f5, 408px 405px #f5f5f5, 965px 82px #f5f5f5,
    1483px 1438px #f5f5f5, 310px 1479px #f5f5f5, 1786px 1500px #f5f5f5,
    1866px 852px #f5f5f5, 18px 1757px #f5f5f5, 1473px 1004px #f5f5f5,
    1542px 1933px #f5f5f5, 633px 1970px #f5f5f5, 1334px 1713px #f5f5f5,
    175px 28px #f5f5f5, 592px 894px #f5f5f5, 121px 1162px #f5f5f5,
    1601px 1567px #f5f5f5, 1095px 657px #f5f5f5, 640px 1233px #f5f5f5,
    1073px 1255px #f5f5f5, 840px 1087px #f5f5f5, 718px 250px #f5f5f5,
    967px 709px #f5f5f5, 731px 239px #f5f5f5, 1623px 593px #f5f5f5,
    1058px 1820px #f5f5f5, 516px 1898px #f5f5f5, 666px 12px #f5f5f5,
    1997px 1382px #f5f5f5, 112px 1690px #f5f5f5, 687px 1309px #f5f5f5,
    63px 539px #f5f5f5, 185px 1897px #f5f5f5, 1055px 1691px #f5f5f5,
    435px 1517px #f5f5f5, 1175px 1119px #f5f5f5, 1721px 133px #f5f5f5,
    1212px 47px #f5f5f5, 166px 18px #f5f5f5, 1416px 1652px #f5f5f5,
    1409px 1745px #f5f5f5, 1357px 1232px #f5f5f5, 1677px 1998px #f5f5f5,
    448px 1415px #f5f5f5, 705px 1736px #f5f5f5, 1031px 1466px #f5f5f5,
    543px 1651px #f5f5f5, 1592px 1888px #f5f5f5, 1749px 1175px #f5f5f5,
    639px 1114px #f5f5f5, 1591px 508px #f5f5f5, 759px 1244px #f5f5f5,
    824px 380px #f5f5f5, 942px 955px #f5f5f5, 723px 732px #f5f5f5,
    113px 1369px #f5f5f5, 203px 1739px #f5f5f5, 868px 733px #f5f5f5,
    713px 971px #f5f5f5, 341px 833px #f5f5f5, 762px 824px #f5f5f5,
    1359px 310px #f5f5f5, 1858px 1349px #f5f5f5, 1531px 692px #f5f5f5,
    1075px 1512px #f5f5f5, 1677px 142px #f5f5f5, 1912px 1478px #f5f5f5,
    1810px 1078px #f5f5f5, 426px 844px #f5f5f5, 1426px 588px #f5f5f5,
    1909px 654px #f5f5f5, 1107px 295px #f5f5f5, 1351px 527px #f5f5f5,
    1393px 599px #f5f5f5, 1379px 1068px #f5f5f5, 228px 1846px #f5f5f5,
    1271px 374px #f5f5f5, 1348px 612px #f5f5f5, 7px 1301px #f5f5f5,
    1501px 1782px #f5f5f5, 1795px 423px #f5f5f5, 1475px 1918px #f5f5f5,
    1328px 1861px #f5f5f5, 1624px 51px #f5f5f5, 1791px 672px #f5f5f5,
    1594px 1467px #f5f5f5, 1655px 1603px #f5f5f5, 919px 850px #f5f5f5,
    523px 609px #f5f5f5, 1196px 207px #f5f5f5, 753px 410px #f5f5f5,
    686px 1097px #f5f5f5, 1570px 133px #f5f5f5, 1996px 1137px #f5f5f5,
    361px 116px #f5f5f5, 1015px 462px #f5f5f5, 76px 1143px #f5f5f5,
    491px 1818px #f5f5f5, 1563px 795px #f5f5f5, 982px 1721px #f5f5f5,
    831px 1204px #f5f5f5, 1737px 589px #f5f5f5, 861px 1579px #f5f5f5,
    1666px 130px #f5f5f5, 698px 1799px #f5f5f5, 726px 1519px #f5f5f5,
    109px 1208px #f5f5f5, 1184px 1057px #f5f5f5, 835px 451px #f5f5f5,
    896px 594px #f5f5f5, 35px 893px #f5f5f5, 895px 542px #f5f5f5,
    706px 225px #f5f5f5, 56px 1040px #f5f5f5, 1954px 108px #f5f5f5,
    1439px 1423px #f5f5f5, 26px 1881px #f5f5f5, 802px 1564px #f5f5f5,
    273px 708px #f5f5f5, 40px 31px #f5f5f5, 859px 108px #f5f5f5;
  -webkit-animation: animStar 100s linear infinite;
  -moz-animation: animStar 100s linear infinite;
  -ms-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1117px 1306px #f5f5f5, 1078px 1783px #f5f5f5,
    1179px 1085px #f5f5f5, 1145px 920px #f5f5f5, 422px 1233px #f5f5f5,
    387px 98px #f5f5f5, 1153px 637px #f5f5f5, 1084px 782px #f5f5f5,
    476px 453px #f5f5f5, 926px 1306px #f5f5f5, 60px 1086px #f5f5f5,
    753px 1575px #f5f5f5, 272px 1684px #f5f5f5, 1285px 750px #f5f5f5,
    1416px 1327px #f5f5f5, 1931px 473px #f5f5f5, 736px 1395px #f5f5f5,
    1816px 763px #f5f5f5, 438px 879px #f5f5f5, 665px 1902px #f5f5f5,
    1341px 677px #f5f5f5, 1404px 1073px #f5f5f5, 100px 597px #f5f5f5,
    357px 1689px #f5f5f5, 1044px 1342px #f5f5f5, 1954px 502px #f5f5f5,
    1192px 1308px #f5f5f5, 540px 1239px #f5f5f5, 1360px 552px #f5f5f5,
    89px 752px #f5f5f5, 659px 1253px #f5f5f5, 62px 517px #f5f5f5,
    1375px 1705px #f5f5f5, 1343px 1511px #f5f5f5, 1659px 1922px #f5f5f5,
    1560px 289px #f5f5f5, 1362px 1799px #f5f5f5, 1886px 1480px #f5f5f5,
    1718px 1885px #f5f5f5, 824px 738px #f5f5f5, 1060px 1370px #f5f5f5,
    1781px 1171px #f5f5f5, 255px 273px #f5f5f5, 1197px 120px #f5f5f5,
    213px 7px #f5f5f5, 1226px 1920px #f5f5f5, 1844px 207px #f5f5f5,
    1675px 970px #f5f5f5, 1435px 1283px #f5f5f5, 37px 353px #f5f5f5,
    59px 417px #f5f5f5, 921px 1602px #f5f5f5, 1549px 1490px #f5f5f5,
    638px 1845px #f5f5f5, 1328px 198px #f5f5f5, 1050px 1149px #f5f5f5,
    1884px 711px #f5f5f5, 333px 263px #f5f5f5, 342px 1508px #f5f5f5,
    1388px 1810px #f5f5f5, 1377px 1558px #f5f5f5, 890px 487px #f5f5f5,
    1081px 759px #f5f5f5, 890px 1515px #f5f5f5, 911px 1284px #f5f5f5,
    335px 735px #f5f5f5, 1140px 549px #f5f5f5, 1239px 1064px #f5f5f5,
    226px 71px #f5f5f5, 1100px 1278px #f5f5f5, 1851px 1805px #f5f5f5,
    1370px 1999px #f5f5f5, 1008px 1122px #f5f5f5, 785px 813px #f5f5f5,
    1358px 601px #f5f5f5, 1833px 1305px #f5f5f5, 1768px 1304px #f5f5f5,
    1303px 532px #f5f5f5, 860px 598px #f5f5f5, 1329px 593px #f5f5f5,
    1038px 1088px #f5f5f5, 408px 405px #f5f5f5, 965px 82px #f5f5f5,
    1483px 1438px #f5f5f5, 310px 1479px #f5f5f5, 1786px 1500px #f5f5f5,
    1866px 852px #f5f5f5, 18px 1757px #f5f5f5, 1473px 1004px #f5f5f5,
    1542px 1933px #f5f5f5, 633px 1970px #f5f5f5, 1334px 1713px #f5f5f5,
    175px 28px #f5f5f5, 592px 894px #f5f5f5, 121px 1162px #f5f5f5,
    1601px 1567px #f5f5f5, 1095px 657px #f5f5f5, 640px 1233px #f5f5f5,
    1073px 1255px #f5f5f5, 840px 1087px #f5f5f5, 718px 250px #f5f5f5,
    967px 709px #f5f5f5, 731px 239px #f5f5f5, 1623px 593px #f5f5f5,
    1058px 1820px #f5f5f5, 516px 1898px #f5f5f5, 666px 12px #f5f5f5,
    1997px 1382px #f5f5f5, 112px 1690px #f5f5f5, 687px 1309px #f5f5f5,
    63px 539px #f5f5f5, 185px 1897px #f5f5f5, 1055px 1691px #f5f5f5,
    435px 1517px #f5f5f5, 1175px 1119px #f5f5f5, 1721px 133px #f5f5f5,
    1212px 47px #f5f5f5, 166px 18px #f5f5f5, 1416px 1652px #f5f5f5,
    1409px 1745px #f5f5f5, 1357px 1232px #f5f5f5, 1677px 1998px #f5f5f5,
    448px 1415px #f5f5f5, 705px 1736px #f5f5f5, 1031px 1466px #f5f5f5,
    543px 1651px #f5f5f5, 1592px 1888px #f5f5f5, 1749px 1175px #f5f5f5,
    639px 1114px #f5f5f5, 1591px 508px #f5f5f5, 759px 1244px #f5f5f5,
    824px 380px #f5f5f5, 942px 955px #f5f5f5, 723px 732px #f5f5f5,
    113px 1369px #f5f5f5, 203px 1739px #f5f5f5, 868px 733px #f5f5f5,
    713px 971px #f5f5f5, 341px 833px #f5f5f5, 762px 824px #f5f5f5,
    1359px 310px #f5f5f5, 1858px 1349px #f5f5f5, 1531px 692px #f5f5f5,
    1075px 1512px #f5f5f5, 1677px 142px #f5f5f5, 1912px 1478px #f5f5f5,
    1810px 1078px #f5f5f5, 426px 844px #f5f5f5, 1426px 588px #f5f5f5,
    1909px 654px #f5f5f5, 1107px 295px #f5f5f5, 1351px 527px #f5f5f5,
    1393px 599px #f5f5f5, 1379px 1068px #f5f5f5, 228px 1846px #f5f5f5,
    1271px 374px #f5f5f5, 1348px 612px #f5f5f5, 7px 1301px #f5f5f5,
    1501px 1782px #f5f5f5, 1795px 423px #f5f5f5, 1475px 1918px #f5f5f5,
    1328px 1861px #f5f5f5, 1624px 51px #f5f5f5, 1791px 672px #f5f5f5,
    1594px 1467px #f5f5f5, 1655px 1603px #f5f5f5, 919px 850px #f5f5f5,
    523px 609px #f5f5f5, 1196px 207px #f5f5f5, 753px 410px #f5f5f5,
    686px 1097px #f5f5f5, 1570px 133px #f5f5f5, 1996px 1137px #f5f5f5,
    361px 116px #f5f5f5, 1015px 462px #f5f5f5, 76px 1143px #f5f5f5,
    491px 1818px #f5f5f5, 1563px 795px #f5f5f5, 982px 1721px #f5f5f5,
    831px 1204px #f5f5f5, 1737px 589px #f5f5f5, 861px 1579px #f5f5f5,
    1666px 130px #f5f5f5, 698px 1799px #f5f5f5, 726px 1519px #f5f5f5,
    109px 1208px #f5f5f5, 1184px 1057px #f5f5f5, 835px 451px #f5f5f5,
    896px 594px #f5f5f5, 35px 893px #f5f5f5, 895px 542px #f5f5f5,
    706px 225px #f5f5f5, 56px 1040px #f5f5f5, 1954px 108px #f5f5f5,
    1439px 1423px #f5f5f5, 26px 1881px #f5f5f5, 802px 1564px #f5f5f5,
    273px 708px #f5f5f5, 40px 31px #f5f5f5, 859px 108px #f5f5f5;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #f5f5f5, 1071px 539px #f5f5f5, 1710px 1414px #f5f5f5,
    836px 299px #f5f5f5, 1944px 1420px #f5f5f5, 253px 1449px #f5f5f5,
    1257px 1250px #f5f5f5, 1588px 1830px #f5f5f5, 1077px 1204px #f5f5f5,
    273px 1081px #f5f5f5, 1993px 766px #f5f5f5, 1808px 479px #f5f5f5,
    917px 263px #f5f5f5, 663px 1820px #f5f5f5, 342px 1988px #f5f5f5,
    727px 1250px #f5f5f5, 636px 1666px #f5f5f5, 692px 1112px #f5f5f5,
    248px 1211px #f5f5f5, 1422px 1121px #f5f5f5, 881px 46px #f5f5f5,
    1531px 1977px #f5f5f5, 1643px 1023px #f5f5f5, 684px 1071px #f5f5f5,
    1142px 1873px #f5f5f5, 292px 1313px #f5f5f5, 256px 1237px #f5f5f5,
    89px 912px #f5f5f5, 964px 1783px #f5f5f5, 877px 760px #f5f5f5,
    1641px 1474px #f5f5f5, 1492px 24px #f5f5f5, 1776px 1642px #f5f5f5,
    183px 602px #f5f5f5, 1998px 62px #f5f5f5, 1560px 367px #f5f5f5,
    1333px 995px #f5f5f5, 704px 1815px #f5f5f5, 1809px 712px #f5f5f5,
    1503px 288px #f5f5f5, 630px 556px #f5f5f5, 1715px 125px #f5f5f5,
    353px 1878px #f5f5f5, 975px 333px #f5f5f5, 1740px 1409px #f5f5f5,
    1341px 1871px #f5f5f5, 1279px 1064px #f5f5f5, 169px 874px #f5f5f5,
    161px 528px #f5f5f5, 1671px 1669px #f5f5f5, 169px 632px #f5f5f5,
    547px 1724px #f5f5f5, 1904px 110px #f5f5f5, 679px 1670px #f5f5f5,
    196px 123px #f5f5f5, 786px 871px #f5f5f5, 1840px 324px #f5f5f5,
    356px 967px #f5f5f5, 61px 549px #f5f5f5, 99px 677px #f5f5f5,
    1719px 87px #f5f5f5, 1713px 1990px #f5f5f5, 1717px 1358px #f5f5f5,
    108px 1187px #f5f5f5, 51px 869px #f5f5f5, 1461px 902px #f5f5f5,
    1034px 891px #f5f5f5, 962px 1881px #f5f5f5, 1723px 595px #f5f5f5,
    479px 901px #f5f5f5, 1546px 1823px #f5f5f5, 285px 1208px #f5f5f5,
    1056px 347px #f5f5f5, 261px 988px #f5f5f5, 466px 990px #f5f5f5,
    1657px 648px #f5f5f5, 1249px 933px #f5f5f5, 1552px 1555px #f5f5f5,
    147px 62px #f5f5f5, 292px 1157px #f5f5f5, 1816px 423px #f5f5f5,
    1714px 757px #f5f5f5, 1036px 961px #f5f5f5, 1955px 710px #f5f5f5,
    1842px 516px #f5f5f5, 479px 1870px #f5f5f5, 1579px 1445px #f5f5f5,
    1225px 1309px #f5f5f5, 1965px 566px #f5f5f5, 1575px 1072px #f5f5f5,
    923px 329px #f5f5f5, 651px 1514px #f5f5f5, 865px 1100px #f5f5f5,
    782px 1873px #f5f5f5, 115px 299px #f5f5f5, 14px 1668px #f5f5f5,
    1666px 1817px #f5f5f5, 1096px 1068px #f5f5f5, 1462px 742px #f5f5f5,
    1384px 1750px #f5f5f5;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -ms-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #f5f5f5, 1071px 539px #f5f5f5, 1710px 1414px #f5f5f5,
    836px 299px #f5f5f5, 1944px 1420px #f5f5f5, 253px 1449px #f5f5f5,
    1257px 1250px #f5f5f5, 1588px 1830px #f5f5f5, 1077px 1204px #f5f5f5,
    273px 1081px #f5f5f5, 1993px 766px #f5f5f5, 1808px 479px #f5f5f5,
    917px 263px #f5f5f5, 663px 1820px #f5f5f5, 342px 1988px #f5f5f5,
    727px 1250px #f5f5f5, 636px 1666px #f5f5f5, 692px 1112px #f5f5f5,
    248px 1211px #f5f5f5, 1422px 1121px #f5f5f5, 881px 46px #f5f5f5,
    1531px 1977px #f5f5f5, 1643px 1023px #f5f5f5, 684px 1071px #f5f5f5,
    1142px 1873px #f5f5f5, 292px 1313px #f5f5f5, 256px 1237px #f5f5f5,
    89px 912px #f5f5f5, 964px 1783px #f5f5f5, 877px 760px #f5f5f5,
    1641px 1474px #f5f5f5, 1492px 24px #f5f5f5, 1776px 1642px #f5f5f5,
    183px 602px #f5f5f5, 1998px 62px #f5f5f5, 1560px 367px #f5f5f5,
    1333px 995px #f5f5f5, 704px 1815px #f5f5f5, 1809px 712px #f5f5f5,
    1503px 288px #f5f5f5, 630px 556px #f5f5f5, 1715px 125px #f5f5f5,
    353px 1878px #f5f5f5, 975px 333px #f5f5f5, 1740px 1409px #f5f5f5,
    1341px 1871px #f5f5f5, 1279px 1064px #f5f5f5, 169px 874px #f5f5f5,
    161px 528px #f5f5f5, 1671px 1669px #f5f5f5, 169px 632px #f5f5f5,
    547px 1724px #f5f5f5, 1904px 110px #f5f5f5, 679px 1670px #f5f5f5,
    196px 123px #f5f5f5, 786px 871px #f5f5f5, 1840px 324px #f5f5f5,
    356px 967px #f5f5f5, 61px 549px #f5f5f5, 99px 677px #f5f5f5,
    1719px 87px #f5f5f5, 1713px 1990px #f5f5f5, 1717px 1358px #f5f5f5,
    108px 1187px #f5f5f5, 51px 869px #f5f5f5, 1461px 902px #f5f5f5,
    1034px 891px #f5f5f5, 962px 1881px #f5f5f5, 1723px 595px #f5f5f5,
    479px 901px #f5f5f5, 1546px 1823px #f5f5f5, 285px 1208px #f5f5f5,
    1056px 347px #f5f5f5, 261px 988px #f5f5f5, 466px 990px #f5f5f5,
    1657px 648px #f5f5f5, 1249px 933px #f5f5f5, 1552px 1555px #f5f5f5,
    147px 62px #f5f5f5, 292px 1157px #f5f5f5, 1816px 423px #f5f5f5,
    1714px 757px #f5f5f5, 1036px 961px #f5f5f5, 1955px 710px #f5f5f5,
    1842px 516px #f5f5f5, 479px 1870px #f5f5f5, 1579px 1445px #f5f5f5,
    1225px 1309px #f5f5f5, 1965px 566px #f5f5f5, 1575px 1072px #f5f5f5,
    923px 329px #f5f5f5, 651px 1514px #f5f5f5, 865px 1100px #f5f5f5,
    782px 1873px #f5f5f5, 115px 299px #f5f5f5, 14px 1668px #f5f5f5,
    1666px 1817px #f5f5f5, 1096px 1068px #f5f5f5, 1462px 742px #f5f5f5,
    1384px 1750px #f5f5f5;
}

#stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #f5f5f5, 1196px 1119px #f5f5f5, 646px 740px #f5f5f5,
    335px 645px #f5f5f5, 1119px 1452px #f5f5f5, 176px 1870px #f5f5f5,
    639px 1711px #f5f5f5, 647px 1388px #f5f5f5, 1516px 1108px #f5f5f5,
    464px 66px #f5f5f5, 331px 344px #f5f5f5, 772px 1189px #f5f5f5,
    1516px 1850px #f5f5f5, 1500px 1463px #f5f5f5, 1275px 876px #f5f5f5,
    1107px 645px #f5f5f5, 977px 478px #f5f5f5, 583px 1179px #f5f5f5,
    284px 395px #f5f5f5, 1220px 461px #f5f5f5, 1160px 249px #f5f5f5,
    196px 865px #f5f5f5, 670px 1915px #f5f5f5, 1449px 382px #f5f5f5,
    1191px 546px #f5f5f5, 1329px 605px #f5f5f5, 1945px 458px #f5f5f5,
    995px 749px #f5f5f5, 1495px 861px #f5f5f5, 708px 1731px #f5f5f5,
    348px 653px #f5f5f5, 548px 1298px #f5f5f5, 1606px 990px #f5f5f5,
    1049px 1204px #f5f5f5, 253px 1501px #f5f5f5, 1154px 166px #f5f5f5,
    1087px 104px #f5f5f5, 1034px 1161px #f5f5f5, 1681px 462px #f5f5f5,
    577px 1897px #f5f5f5, 193px 1901px #f5f5f5, 1701px 1755px #f5f5f5,
    864px 1297px #f5f5f5, 800px 1289px #f5f5f5, 676px 28px #f5f5f5,
    185px 1341px #f5f5f5, 379px 1151px #f5f5f5, 1224px 1725px #f5f5f5,
    280px 541px #f5f5f5, 473px 1196px #f5f5f5, 921px 1628px #f5f5f5,
    969px 432px #f5f5f5, 1475px 758px #f5f5f5, 1195px 993px #f5f5f5,
    876px 1840px #f5f5f5, 1274px 1689px #f5f5f5, 1977px 1101px #f5f5f5,
    837px 527px #f5f5f5, 1785px 1610px #f5f5f5, 1650px 1843px #f5f5f5,
    1127px 1508px #f5f5f5, 401px 1050px #f5f5f5, 51px 1105px #f5f5f5,
    545px 880px #f5f5f5, 1786px 1672px #f5f5f5, 318px 260px #f5f5f5,
    568px 254px #f5f5f5, 1026px 1527px #f5f5f5, 1242px 852px #f5f5f5,
    1785px 982px #f5f5f5, 1318px 1071px #f5f5f5, 398px 1061px #f5f5f5,
    1509px 257px #f5f5f5, 599px 928px #f5f5f5, 1195px 1800px #f5f5f5,
    1254px 906px #f5f5f5, 141px 26px #f5f5f5, 1384px 1502px #f5f5f5,
    476px 767px #f5f5f5, 1973px 722px #f5f5f5, 1339px 1031px #f5f5f5,
    778px 818px #f5f5f5, 213px 1320px #f5f5f5, 184px 221px #f5f5f5,
    983px 1911px #f5f5f5, 923px 1439px #f5f5f5, 1936px 581px #f5f5f5,
    1105px 625px #f5f5f5, 325px 729px #f5f5f5, 1475px 204px #f5f5f5,
    1483px 1564px #f5f5f5, 1327px 1272px #f5f5f5, 1187px 1944px #f5f5f5,
    1945px 1471px #f5f5f5, 116px 960px #f5f5f5, 1660px 1610px #f5f5f5,
    412px 1022px #f5f5f5, 1552px 1516px #f5f5f5, 1517px 1892px #f5f5f5,
    306px 829px #f5f5f5, 1416px 462px #f5f5f5, 1575px 1460px #f5f5f5,
    424px 1500px #f5f5f5, 1530px 1169px #f5f5f5, 1388px 1608px #f5f5f5,
    185px 416px #f5f5f5, 634px 1446px #f5f5f5, 767px 479px #f5f5f5,
    71px 426px #f5f5f5, 1937px 145px #f5f5f5, 1955px 1312px #f5f5f5,
    1811px 611px #f5f5f5, 1145px 569px #f5f5f5, 1460px 676px #f5f5f5,
    131px 1858px #f5f5f5, 1557px 473px #f5f5f5, 735px 130px #f5f5f5,
    112px 1531px #f5f5f5, 1312px 305px #f5f5f5, 409px 1032px #f5f5f5,
    149px 1964px #f5f5f5, 535px 1215px #f5f5f5, 1382px 630px #f5f5f5,
    1437px 1368px #f5f5f5, 362px 1181px #f5f5f5, 388px 181px #f5f5f5,
    274px 1287px #f5f5f5, 1858px 1414px #f5f5f5, 661px 1935px #f5f5f5,
    675px 1205px #f5f5f5, 1829px 1725px #f5f5f5, 1937px 1145px #f5f5f5,
    237px 908px #f5f5f5, 1059px 1185px #f5f5f5, 824px 1248px #f5f5f5,
    1167px 1730px #f5f5f5, 180px 1961px #f5f5f5, 1663px 203px #f5f5f5,
    374px 221px #f5f5f5, 724px 1883px #f5f5f5, 970px 1362px #f5f5f5,
    832px 505px #f5f5f5, 313px 233px #f5f5f5, 1909px 597px #f5f5f5,
    434px 201px #f5f5f5, 587px 995px #f5f5f5, 1833px 623px #f5f5f5,
    1464px 561px #f5f5f5, 231px 593px #f5f5f5, 1558px 1433px #f5f5f5,
    1986px 1767px #f5f5f5, 1753px 1728px #f5f5f5, 1153px 1623px #f5f5f5,
    249px 229px #f5f5f5, 1503px 1186px #f5f5f5, 1784px 137px #f5f5f5,
    841px 403px #f5f5f5, 1400px 354px #f5f5f5, 197px 499px #f5f5f5,
    1188px 681px #f5f5f5, 158px 391px #f5f5f5, 443px 1099px #f5f5f5,
    723px 1445px #f5f5f5, 1408px 1235px #f5f5f5, 1908px 195px #f5f5f5,
    271px 891px #f5f5f5, 469px 1693px #f5f5f5, 580px 11px #f5f5f5,
    1533px 70px #f5f5f5, 859px 761px #f5f5f5, 1510px 1844px #f5f5f5,
    421px 558px #f5f5f5, 1132px 1453px #f5f5f5, 757px 1987px #f5f5f5,
    212px 293px #f5f5f5, 569px 323px #f5f5f5, 1404px 1394px #f5f5f5,
    252px 1386px #f5f5f5, 1668px 1857px #f5f5f5, 123px 1684px #f5f5f5,
    105px 490px #f5f5f5, 1083px 1769px #f5f5f5, 1071px 1953px #f5f5f5,
    1271px 1159px #f5f5f5, 699px 1491px #f5f5f5, 1744px 1997px #f5f5f5,
    1868px 1973px #f5f5f5, 1438px 1449px #f5f5f5, 1222px 1921px #f5f5f5,
    1328px 1210px #f5f5f5, 438px 873px #f5f5f5, 809px 780px #f5f5f5,
    491px 1524px #f5f5f5, 447px 1830px #f5f5f5, 927px 1936px #f5f5f5,
    564px 691px #f5f5f5, 1784px 1747px #f5f5f5, 1978px 1722px #f5f5f5,
    1599px 1480px #f5f5f5, 1276px 729px #f5f5f5, 731px 1174px #f5f5f5,
    1586px 1711px #f5f5f5, 451px 1340px #f5f5f5, 1075px 1899px #f5f5f5,
    13px 575px #f5f5f5, 309px 1340px #f5f5f5, 981px 183px #f5f5f5,
    248px 1315px #f5f5f5, 849px 80px #f5f5f5, 1754px 1540px #f5f5f5,
    73px 1432px #f5f5f5, 1208px 1828px #f5f5f5, 65px 575px #f5f5f5,
    1098px 730px #f5f5f5, 127px 1358px #f5f5f5, 185px 19px #f5f5f5,
    1222px 1679px #f5f5f5, 1122px 315px #f5f5f5, 1906px 452px #f5f5f5,
    761px 284px #f5f5f5, 813px 492px #f5f5f5, 1344px 843px #f5f5f5,
    118px 1834px #f5f5f5, 1620px 359px #f5f5f5, 1755px 1246px #f5f5f5,
    299px 1076px #f5f5f5, 1746px 158px #f5f5f5, 6px 1635px #f5f5f5,
    143px 190px #f5f5f5, 101px 468px #f5f5f5, 137px 971px #f5f5f5,
    1221px 1929px #f5f5f5, 1752px 650px #f5f5f5, 1635px 1761px #f5f5f5,
    1522px 833px #f5f5f5, 908px 153px #f5f5f5, 1044px 350px #f5f5f5,
    1151px 1940px #f5f5f5, 822px 210px #f5f5f5, 1774px 310px #f5f5f5,
    796px 1447px #f5f5f5, 1069px 1903px #f5f5f5, 217px 565px #f5f5f5,
    662px 1370px #f5f5f5, 1876px 1570px #f5f5f5, 847px 46px #f5f5f5,
    1042px 1689px #f5f5f5, 1584px 1434px #f5f5f5, 1791px 908px #f5f5f5,
    973px 908px #f5f5f5, 793px 747px #f5f5f5, 122px 483px #f5f5f5,
    1137px 1374px #f5f5f5, 1757px 1791px #f5f5f5, 513px 225px #f5f5f5,
    63px 731px #f5f5f5, 1179px 1926px #f5f5f5, 346px 18px #f5f5f5,
    589px 175px #f5f5f5, 87px 302px #f5f5f5, 380px 1295px #f5f5f5,
    450px 921px #f5f5f5, 1667px 1973px #f5f5f5, 1495px 1373px #f5f5f5,
    1462px 1850px #f5f5f5, 540px 288px #f5f5f5, 1208px 1051px #f5f5f5,
    1554px 1095px #f5f5f5, 1009px 1516px #f5f5f5, 181px 572px #f5f5f5,
    165px 387px #f5f5f5, 549px 1835px #f5f5f5, 960px 16px #f5f5f5,
    1360px 403px #f5f5f5, 1251px 43px #f5f5f5, 1905px 1813px #f5f5f5,
    1106px 866px #f5f5f5, 1809px 277px #f5f5f5, 1828px 1720px #f5f5f5,
    295px 1610px #f5f5f5, 523px 166px #f5f5f5, 1069px 692px #f5f5f5,
    1292px 217px #f5f5f5, 11px 1721px #f5f5f5, 99px 1045px #f5f5f5,
    51px 1584px #f5f5f5, 1053px 266px #f5f5f5, 1287px 1235px #f5f5f5,
    747px 1722px #f5f5f5, 1542px 736px #f5f5f5, 1256px 18px #f5f5f5,
    102px 609px #f5f5f5, 586px 1339px #f5f5f5, 1843px 1697px #f5f5f5,
    824px 1687px #f5f5f5, 1124px 882px #f5f5f5, 395px 501px #f5f5f5,
    1456px 672px #f5f5f5, 1472px 1648px #f5f5f5, 1326px 1164px #f5f5f5,
    777px 1672px #f5f5f5, 81px 345px #f5f5f5, 91px 386px #f5f5f5,
    243px 411px #f5f5f5, 1560px 90px #f5f5f5, 6px 1771px #f5f5f5,
    1601px 616px #f5f5f5, 1220px 1808px #f5f5f5, 1160px 836px #f5f5f5,
    246px 1777px #f5f5f5, 456px 863px #f5f5f5, 97px 1138px #f5f5f5,
    1811px 942px #f5f5f5, 213px 414px #f5f5f5, 891px 392px #f5f5f5,
    1044px 927px #f5f5f5, 1856px 216px #f5f5f5, 957px 347px #f5f5f5,
    1486px 406px #f5f5f5, 838px 912px #f5f5f5, 803px 361px #f5f5f5,
    564px 826px #f5f5f5, 1597px 949px #f5f5f5, 1206px 289px #f5f5f5,
    33px 1035px #f5f5f5, 1762px 1377px #f5f5f5, 789px 1815px #f5f5f5,
    1594px 1342px #f5f5f5, 1668px 880px #f5f5f5, 1539px 1581px #f5f5f5,
    1547px 53px #f5f5f5, 861px 1433px #f5f5f5, 693px 1618px #f5f5f5,
    1762px 782px #f5f5f5, 1568px 682px #f5f5f5, 1126px 1762px #f5f5f5,
    1242px 134px #f5f5f5, 495px 959px #f5f5f5, 1606px 219px #f5f5f5,
    1878px 1415px #f5f5f5, 1652px 797px #f5f5f5, 782px 1903px #f5f5f5,
    1774px 1133px #f5f5f5, 1430px 408px #f5f5f5, 265px 394px #f5f5f5,
    890px 336px #f5f5f5, 1051px 311px #f5f5f5, 461px 1559px #f5f5f5,
    1931px 91px #f5f5f5, 1160px 380px #f5f5f5, 1442px 1058px #f5f5f5,
    1157px 364px #f5f5f5, 586px 227px #f5f5f5, 1365px 715px #f5f5f5,
    1658px 1655px #f5f5f5, 1923px 1664px #f5f5f5, 1023px 1844px #f5f5f5,
    1939px 1367px #f5f5f5, 1203px 1305px #f5f5f5, 359px 642px #f5f5f5,
    1056px 425px #f5f5f5, 787px 202px #f5f5f5, 1609px 1850px #f5f5f5,
    1964px 200px #f5f5f5, 1537px 586px #f5f5f5, 1589px 903px #f5f5f5,
    1063px 1694px #f5f5f5, 760px 1185px #f5f5f5, 597px 1396px #f5f5f5,
    294px 452px #f5f5f5, 433px 818px #f5f5f5, 199px 840px #f5f5f5,
    1332px 1937px #f5f5f5, 169px 1907px #f5f5f5, 591px 834px #f5f5f5,
    1716px 1032px #f5f5f5, 45px 1879px #f5f5f5, 686px 1469px #f5f5f5,
    1520px 475px #f5f5f5, 1122px 859px #f5f5f5, 973px 1541px #f5f5f5,
    269px 477px #f5f5f5, 1390px 716px #f5f5f5, 1791px 783px #f5f5f5,
    824px 2000px #f5f5f5, 1211px 1717px #f5f5f5, 1008px 1587px #f5f5f5,
    1422px 204px #f5f5f5, 234px 556px #f5f5f5, 506px 550px #f5f5f5,
    942px 1670px #f5f5f5, 397px 853px #f5f5f5, 599px 795px #f5f5f5,
    762px 1926px #f5f5f5, 1202px 1424px #f5f5f5, 135px 1316px #f5f5f5,
    1442px 1692px #f5f5f5, 977px 652px #f5f5f5, 564px 1648px #f5f5f5,
    997px 1474px #f5f5f5, 67px 1366px #f5f5f5, 1860px 1451px #f5f5f5,
    1105px 772px #f5f5f5, 1886px 1396px #f5f5f5, 1510px 658px #f5f5f5,
    976px 1544px #f5f5f5, 894px 543px #f5f5f5, 1098px 1189px #f5f5f5,
    690px 77px #f5f5f5, 770px 733px #f5f5f5, 557px 1403px #f5f5f5,
    1758px 1623px #f5f5f5, 1341px 812px #f5f5f5, 699px 967px #f5f5f5,
    277px 866px #f5f5f5, 1526px 1828px #f5f5f5, 8px 977px #f5f5f5,
    1707px 952px #f5f5f5, 12px 1900px #f5f5f5, 72px 921px #f5f5f5,
    496px 1067px #f5f5f5, 1288px 1749px #f5f5f5, 273px 984px #f5f5f5,
    1197px 1991px #f5f5f5, 242px 789px #f5f5f5, 903px 1035px #f5f5f5,
    480px 1492px #f5f5f5, 102px 1331px #f5f5f5, 738px 1343px #f5f5f5,
    560px 1475px #f5f5f5, 367px 846px #f5f5f5, 1420px 962px #f5f5f5,
    1976px 892px #f5f5f5, 1911px 1763px #f5f5f5, 1639px 1002px #f5f5f5,
    437px 1522px #f5f5f5, 1906px 1025px #f5f5f5, 730px 1364px #f5f5f5,
    1127px 521px #f5f5f5, 1401px 1792px #f5f5f5, 1954px 1066px #f5f5f5,
    232px 250px #f5f5f5, 1685px 660px #f5f5f5, 1011px 999px #f5f5f5,
    1970px 790px #f5f5f5, 750px 499px #f5f5f5, 1738px 660px #f5f5f5,
    1621px 1849px #f5f5f5, 446px 52px #f5f5f5, 1055px 1396px #f5f5f5,
    1165px 1497px #f5f5f5, 1740px 1425px #f5f5f5, 1012px 1920px #f5f5f5,
    1258px 1560px #f5f5f5, 1020px 1152px #f5f5f5, 362px 673px #f5f5f5,
    1065px 975px #f5f5f5, 582px 755px #f5f5f5, 1271px 1479px #f5f5f5,
    719px 548px #f5f5f5, 1602px 879px #f5f5f5, 590px 499px #f5f5f5,
    721px 1412px #f5f5f5, 1180px 113px #f5f5f5, 1801px 1961px #f5f5f5,
    589px 941px #f5f5f5, 883px 476px #f5f5f5, 214px 890px #f5f5f5,
    1028px 892px #f5f5f5, 1107px 1832px #f5f5f5, 944px 361px #f5f5f5,
    480px 1453px #f5f5f5, 1466px 683px #f5f5f5, 981px 745px #f5f5f5,
    1968px 828px #f5f5f5, 657px 1830px #f5f5f5, 11px 1338px #f5f5f5,
    179px 730px #f5f5f5, 1713px 197px #f5f5f5, 51px 955px #f5f5f5,
    1243px 319px #f5f5f5, 1175px 624px #f5f5f5, 446px 46px #f5f5f5,
    5px 1158px #f5f5f5, 82px 1352px #f5f5f5, 1877px 402px #f5f5f5,
    708px 1778px #f5f5f5, 903px 1625px #f5f5f5, 1824px 352px #f5f5f5,
    1229px 140px #f5f5f5, 1518px 24px #f5f5f5, 1017px 512px #f5f5f5,
    515px 699px #f5f5f5, 295px 265px #f5f5f5, 69px 1773px #f5f5f5,
    1640px 1163px #f5f5f5, 536px 342px #f5f5f5, 970px 1766px #f5f5f5,
    560px 1416px #f5f5f5, 577px 193px #f5f5f5, 469px 9px #f5f5f5,
    466px 276px #f5f5f5, 711px 853px #f5f5f5, 401px 685px #f5f5f5,
    85px 506px #f5f5f5, 865px 558px #f5f5f5, 631px 105px #f5f5f5,
    887px 866px #f5f5f5, 1704px 1001px #f5f5f5, 1051px 1199px #f5f5f5,
    275px 1909px #f5f5f5, 1462px 829px #f5f5f5, 375px 1057px #f5f5f5,
    1531px 1501px #f5f5f5, 205px 403px #f5f5f5, 33px 1869px #f5f5f5,
    967px 1176px #f5f5f5, 376px 863px #f5f5f5, 1769px 1545px #f5f5f5,
    535px 51px #f5f5f5, 1972px 1569px #f5f5f5, 1773px 960px #f5f5f5,
    487px 620px #f5f5f5, 1660px 687px #f5f5f5, 1632px 972px #f5f5f5,
    1362px 42px #f5f5f5, 479px 1655px #f5f5f5, 1531px 1808px #f5f5f5,
    1450px 1412px #f5f5f5, 1549px 170px #f5f5f5, 1904px 1305px #f5f5f5,
    1209px 48px #f5f5f5, 1933px 820px #f5f5f5, 1623px 595px #f5f5f5,
    48px 643px #f5f5f5, 179px 1754px #f5f5f5, 589px 1032px #f5f5f5,
    1199px 356px #f5f5f5, 1755px 1418px #f5f5f5, 780px 1174px #f5f5f5,
    1905px 758px #f5f5f5, 1567px 713px #f5f5f5, 1372px 705px #f5f5f5,
    456px 654px #f5f5f5, 759px 690px #f5f5f5, 452px 673px #f5f5f5,
    993px 1610px #f5f5f5, 1271px 188px #f5f5f5, 343px 1750px #f5f5f5,
    1943px 1735px #f5f5f5, 1717px 853px #f5f5f5, 1247px 303px #f5f5f5,
    1314px 1895px #f5f5f5, 1203px 489px #f5f5f5, 741px 469px #f5f5f5,
    4px 246px #f5f5f5, 1515px 115px #f5f5f5, 606px 218px #f5f5f5,
    1966px 1471px #f5f5f5, 177px 87px #f5f5f5, 1575px 588px #f5f5f5,
    1136px 1386px #f5f5f5, 70px 1868px #f5f5f5, 1053px 18px #f5f5f5,
    1124px 721px #f5f5f5, 1748px 1181px #f5f5f5, 191px 1387px #f5f5f5,
    1931px 840px #f5f5f5, 1088px 1603px #f5f5f5, 634px 1255px #f5f5f5,
    814px 1434px #f5f5f5, 585px 64px #f5f5f5, 1074px 1618px #f5f5f5,
    1692px 761px #f5f5f5, 651px 643px #f5f5f5, 193px 335px #f5f5f5,
    1103px 1447px #f5f5f5, 491px 1142px #f5f5f5, 521px 408px #f5f5f5,
    536px 340px #f5f5f5, 411px 1091px #f5f5f5, 1646px 193px #f5f5f5,
    1595px 1285px #f5f5f5, 870px 1349px #f5f5f5, 1085px 1013px #f5f5f5,
    204px 1864px #f5f5f5, 1359px 299px #f5f5f5, 807px 964px #f5f5f5,
    219px 509px #f5f5f5, 36px 1227px #f5f5f5, 702px 1873px #f5f5f5,
    1471px 934px #f5f5f5, 1763px 792px #f5f5f5, 973px 1957px #f5f5f5,
    987px 68px #f5f5f5, 593px 1282px #f5f5f5, 1900px 607px #f5f5f5,
    407px 1659px #f5f5f5, 587px 17px #f5f5f5, 632px 158px #f5f5f5;
  -webkit-animation: animStar 600s linear infinite;
  -moz-animation: animStar 600s linear infinite;
  -ms-animation: animStar 600s linear infinite;
  animation: animStar 600s linear infinite;
}

#stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #f5f5f5, 1196px 1119px #f5f5f5, 646px 740px #f5f5f5,
    335px 645px #f5f5f5, 1119px 1452px #f5f5f5, 176px 1870px #f5f5f5,
    639px 1711px #f5f5f5, 647px 1388px #f5f5f5, 1516px 1108px #f5f5f5,
    464px 66px #f5f5f5, 331px 344px #f5f5f5, 772px 1189px #f5f5f5,
    1516px 1850px #f5f5f5, 1500px 1463px #f5f5f5, 1275px 876px #f5f5f5,
    1107px 645px #f5f5f5, 977px 478px #f5f5f5, 583px 1179px #f5f5f5,
    284px 395px #f5f5f5, 1220px 461px #f5f5f5, 1160px 249px #f5f5f5,
    196px 865px #f5f5f5, 670px 1915px #f5f5f5, 1449px 382px #f5f5f5,
    1191px 546px #f5f5f5, 1329px 605px #f5f5f5, 1945px 458px #f5f5f5,
    995px 749px #f5f5f5, 1495px 861px #f5f5f5, 708px 1731px #f5f5f5,
    348px 653px #f5f5f5, 548px 1298px #f5f5f5, 1606px 990px #f5f5f5,
    1049px 1204px #f5f5f5, 253px 1501px #f5f5f5, 1154px 166px #f5f5f5,
    1087px 104px #f5f5f5, 1034px 1161px #f5f5f5, 1681px 462px #f5f5f5,
    577px 1897px #f5f5f5, 193px 1901px #f5f5f5, 1701px 1755px #f5f5f5,
    864px 1297px #f5f5f5, 800px 1289px #f5f5f5, 676px 28px #f5f5f5,
    185px 1341px #f5f5f5, 379px 1151px #f5f5f5, 1224px 1725px #f5f5f5,
    280px 541px #f5f5f5, 473px 1196px #f5f5f5, 921px 1628px #f5f5f5,
    969px 432px #f5f5f5, 1475px 758px #f5f5f5, 1195px 993px #f5f5f5,
    876px 1840px #f5f5f5, 1274px 1689px #f5f5f5, 1977px 1101px #f5f5f5,
    837px 527px #f5f5f5, 1785px 1610px #f5f5f5, 1650px 1843px #f5f5f5,
    1127px 1508px #f5f5f5, 401px 1050px #f5f5f5, 51px 1105px #f5f5f5,
    545px 880px #f5f5f5, 1786px 1672px #f5f5f5, 318px 260px #f5f5f5,
    568px 254px #f5f5f5, 1026px 1527px #f5f5f5, 1242px 852px #f5f5f5,
    1785px 982px #f5f5f5, 1318px 1071px #f5f5f5, 398px 1061px #f5f5f5,
    1509px 257px #f5f5f5, 599px 928px #f5f5f5, 1195px 1800px #f5f5f5,
    1254px 906px #f5f5f5, 141px 26px #f5f5f5, 1384px 1502px #f5f5f5,
    476px 767px #f5f5f5, 1973px 722px #f5f5f5, 1339px 1031px #f5f5f5,
    778px 818px #f5f5f5, 213px 1320px #f5f5f5, 184px 221px #f5f5f5,
    983px 1911px #f5f5f5, 923px 1439px #f5f5f5, 1936px 581px #f5f5f5,
    1105px 625px #f5f5f5, 325px 729px #f5f5f5, 1475px 204px #f5f5f5,
    1483px 1564px #f5f5f5, 1327px 1272px #f5f5f5, 1187px 1944px #f5f5f5,
    1945px 1471px #f5f5f5, 116px 960px #f5f5f5, 1660px 1610px #f5f5f5,
    412px 1022px #f5f5f5, 1552px 1516px #f5f5f5, 1517px 1892px #f5f5f5,
    306px 829px #f5f5f5, 1416px 462px #f5f5f5, 1575px 1460px #f5f5f5,
    424px 1500px #f5f5f5, 1530px 1169px #f5f5f5, 1388px 1608px #f5f5f5,
    185px 416px #f5f5f5, 634px 1446px #f5f5f5, 767px 479px #f5f5f5,
    71px 426px #f5f5f5, 1937px 145px #f5f5f5, 1955px 1312px #f5f5f5,
    1811px 611px #f5f5f5, 1145px 569px #f5f5f5, 1460px 676px #f5f5f5,
    131px 1858px #f5f5f5, 1557px 473px #f5f5f5, 735px 130px #f5f5f5,
    112px 1531px #f5f5f5, 1312px 305px #f5f5f5, 409px 1032px #f5f5f5,
    149px 1964px #f5f5f5, 535px 1215px #f5f5f5, 1382px 630px #f5f5f5,
    1437px 1368px #f5f5f5, 362px 1181px #f5f5f5, 388px 181px #f5f5f5,
    274px 1287px #f5f5f5, 1858px 1414px #f5f5f5, 661px 1935px #f5f5f5,
    675px 1205px #f5f5f5, 1829px 1725px #f5f5f5, 1937px 1145px #f5f5f5,
    237px 908px #f5f5f5, 1059px 1185px #f5f5f5, 824px 1248px #f5f5f5,
    1167px 1730px #f5f5f5, 180px 1961px #f5f5f5, 1663px 203px #f5f5f5,
    374px 221px #f5f5f5, 724px 1883px #f5f5f5, 970px 1362px #f5f5f5,
    832px 505px #f5f5f5, 313px 233px #f5f5f5, 1909px 597px #f5f5f5,
    434px 201px #f5f5f5, 587px 995px #f5f5f5, 1833px 623px #f5f5f5,
    1464px 561px #f5f5f5, 231px 593px #f5f5f5, 1558px 1433px #f5f5f5,
    1986px 1767px #f5f5f5, 1753px 1728px #f5f5f5, 1153px 1623px #f5f5f5,
    249px 229px #f5f5f5, 1503px 1186px #f5f5f5, 1784px 137px #f5f5f5,
    841px 403px #f5f5f5, 1400px 354px #f5f5f5, 197px 499px #f5f5f5,
    1188px 681px #f5f5f5, 158px 391px #f5f5f5, 443px 1099px #f5f5f5,
    723px 1445px #f5f5f5, 1408px 1235px #f5f5f5, 1908px 195px #f5f5f5,
    271px 891px #f5f5f5, 469px 1693px #f5f5f5, 580px 11px #f5f5f5,
    1533px 70px #f5f5f5, 859px 761px #f5f5f5, 1510px 1844px #f5f5f5,
    421px 558px #f5f5f5, 1132px 1453px #f5f5f5, 757px 1987px #f5f5f5,
    212px 293px #f5f5f5, 569px 323px #f5f5f5, 1404px 1394px #f5f5f5,
    252px 1386px #f5f5f5, 1668px 1857px #f5f5f5, 123px 1684px #f5f5f5,
    105px 490px #f5f5f5, 1083px 1769px #f5f5f5, 1071px 1953px #f5f5f5,
    1271px 1159px #f5f5f5, 699px 1491px #f5f5f5, 1744px 1997px #f5f5f5,
    1868px 1973px #f5f5f5, 1438px 1449px #f5f5f5, 1222px 1921px #f5f5f5,
    1328px 1210px #f5f5f5, 438px 873px #f5f5f5, 809px 780px #f5f5f5,
    491px 1524px #f5f5f5, 447px 1830px #f5f5f5, 927px 1936px #f5f5f5,
    564px 691px #f5f5f5, 1784px 1747px #f5f5f5, 1978px 1722px #f5f5f5,
    1599px 1480px #f5f5f5, 1276px 729px #f5f5f5, 731px 1174px #f5f5f5,
    1586px 1711px #f5f5f5, 451px 1340px #f5f5f5, 1075px 1899px #f5f5f5,
    13px 575px #f5f5f5, 309px 1340px #f5f5f5, 981px 183px #f5f5f5,
    248px 1315px #f5f5f5, 849px 80px #f5f5f5, 1754px 1540px #f5f5f5,
    73px 1432px #f5f5f5, 1208px 1828px #f5f5f5, 65px 575px #f5f5f5,
    1098px 730px #f5f5f5, 127px 1358px #f5f5f5, 185px 19px #f5f5f5,
    1222px 1679px #f5f5f5, 1122px 315px #f5f5f5, 1906px 452px #f5f5f5,
    761px 284px #f5f5f5, 813px 492px #f5f5f5, 1344px 843px #f5f5f5,
    118px 1834px #f5f5f5, 1620px 359px #f5f5f5, 1755px 1246px #f5f5f5,
    299px 1076px #f5f5f5, 1746px 158px #f5f5f5, 6px 1635px #f5f5f5,
    143px 190px #f5f5f5, 101px 468px #f5f5f5, 137px 971px #f5f5f5,
    1221px 1929px #f5f5f5, 1752px 650px #f5f5f5, 1635px 1761px #f5f5f5,
    1522px 833px #f5f5f5, 908px 153px #f5f5f5, 1044px 350px #f5f5f5,
    1151px 1940px #f5f5f5, 822px 210px #f5f5f5, 1774px 310px #f5f5f5,
    796px 1447px #f5f5f5, 1069px 1903px #f5f5f5, 217px 565px #f5f5f5,
    662px 1370px #f5f5f5, 1876px 1570px #f5f5f5, 847px 46px #f5f5f5,
    1042px 1689px #f5f5f5, 1584px 1434px #f5f5f5, 1791px 908px #f5f5f5,
    973px 908px #f5f5f5, 793px 747px #f5f5f5, 122px 483px #f5f5f5,
    1137px 1374px #f5f5f5, 1757px 1791px #f5f5f5, 513px 225px #f5f5f5,
    63px 731px #f5f5f5, 1179px 1926px #f5f5f5, 346px 18px #f5f5f5,
    589px 175px #f5f5f5, 87px 302px #f5f5f5, 380px 1295px #f5f5f5,
    450px 921px #f5f5f5, 1667px 1973px #f5f5f5, 1495px 1373px #f5f5f5,
    1462px 1850px #f5f5f5, 540px 288px #f5f5f5, 1208px 1051px #f5f5f5,
    1554px 1095px #f5f5f5, 1009px 1516px #f5f5f5, 181px 572px #f5f5f5,
    165px 387px #f5f5f5, 549px 1835px #f5f5f5, 960px 16px #f5f5f5,
    1360px 403px #f5f5f5, 1251px 43px #f5f5f5, 1905px 1813px #f5f5f5,
    1106px 866px #f5f5f5, 1809px 277px #f5f5f5, 1828px 1720px #f5f5f5,
    295px 1610px #f5f5f5, 523px 166px #f5f5f5, 1069px 692px #f5f5f5,
    1292px 217px #f5f5f5, 11px 1721px #f5f5f5, 99px 1045px #f5f5f5,
    51px 1584px #f5f5f5, 1053px 266px #f5f5f5, 1287px 1235px #f5f5f5,
    747px 1722px #f5f5f5, 1542px 736px #f5f5f5, 1256px 18px #f5f5f5,
    102px 609px #f5f5f5, 586px 1339px #f5f5f5, 1843px 1697px #f5f5f5,
    824px 1687px #f5f5f5, 1124px 882px #f5f5f5, 395px 501px #f5f5f5,
    1456px 672px #f5f5f5, 1472px 1648px #f5f5f5, 1326px 1164px #f5f5f5,
    777px 1672px #f5f5f5, 81px 345px #f5f5f5, 91px 386px #f5f5f5,
    243px 411px #f5f5f5, 1560px 90px #f5f5f5, 6px 1771px #f5f5f5,
    1601px 616px #f5f5f5, 1220px 1808px #f5f5f5, 1160px 836px #f5f5f5,
    246px 1777px #f5f5f5, 456px 863px #f5f5f5, 97px 1138px #f5f5f5,
    1811px 942px #f5f5f5, 213px 414px #f5f5f5, 891px 392px #f5f5f5,
    1044px 927px #f5f5f5, 1856px 216px #f5f5f5, 957px 347px #f5f5f5,
    1486px 406px #f5f5f5, 838px 912px #f5f5f5, 803px 361px #f5f5f5,
    564px 826px #f5f5f5, 1597px 949px #f5f5f5, 1206px 289px #f5f5f5,
    33px 1035px #f5f5f5, 1762px 1377px #f5f5f5, 789px 1815px #f5f5f5,
    1594px 1342px #f5f5f5, 1668px 880px #f5f5f5, 1539px 1581px #f5f5f5,
    1547px 53px #f5f5f5, 861px 1433px #f5f5f5, 693px 1618px #f5f5f5,
    1762px 782px #f5f5f5, 1568px 682px #f5f5f5, 1126px 1762px #f5f5f5,
    1242px 134px #f5f5f5, 495px 959px #f5f5f5, 1606px 219px #f5f5f5,
    1878px 1415px #f5f5f5, 1652px 797px #f5f5f5, 782px 1903px #f5f5f5,
    1774px 1133px #f5f5f5, 1430px 408px #f5f5f5, 265px 394px #f5f5f5,
    890px 336px #f5f5f5, 1051px 311px #f5f5f5, 461px 1559px #f5f5f5,
    1931px 91px #f5f5f5, 1160px 380px #f5f5f5, 1442px 1058px #f5f5f5,
    1157px 364px #f5f5f5, 586px 227px #f5f5f5, 1365px 715px #f5f5f5,
    1658px 1655px #f5f5f5, 1923px 1664px #f5f5f5, 1023px 1844px #f5f5f5,
    1939px 1367px #f5f5f5, 1203px 1305px #f5f5f5, 359px 642px #f5f5f5,
    1056px 425px #f5f5f5, 787px 202px #f5f5f5, 1609px 1850px #f5f5f5,
    1964px 200px #f5f5f5, 1537px 586px #f5f5f5, 1589px 903px #f5f5f5,
    1063px 1694px #f5f5f5, 760px 1185px #f5f5f5, 597px 1396px #f5f5f5,
    294px 452px #f5f5f5, 433px 818px #f5f5f5, 199px 840px #f5f5f5,
    1332px 1937px #f5f5f5, 169px 1907px #f5f5f5, 591px 834px #f5f5f5,
    1716px 1032px #f5f5f5, 45px 1879px #f5f5f5, 686px 1469px #f5f5f5,
    1520px 475px #f5f5f5, 1122px 859px #f5f5f5, 973px 1541px #f5f5f5,
    269px 477px #f5f5f5, 1390px 716px #f5f5f5, 1791px 783px #f5f5f5,
    824px 2000px #f5f5f5, 1211px 1717px #f5f5f5, 1008px 1587px #f5f5f5,
    1422px 204px #f5f5f5, 234px 556px #f5f5f5, 506px 550px #f5f5f5,
    942px 1670px #f5f5f5, 397px 853px #f5f5f5, 599px 795px #f5f5f5,
    762px 1926px #f5f5f5, 1202px 1424px #f5f5f5, 135px 1316px #f5f5f5,
    1442px 1692px #f5f5f5, 977px 652px #f5f5f5, 564px 1648px #f5f5f5,
    997px 1474px #f5f5f5, 67px 1366px #f5f5f5, 1860px 1451px #f5f5f5,
    1105px 772px #f5f5f5, 1886px 1396px #f5f5f5, 1510px 658px #f5f5f5,
    976px 1544px #f5f5f5, 894px 543px #f5f5f5, 1098px 1189px #f5f5f5,
    690px 77px #f5f5f5, 770px 733px #f5f5f5, 557px 1403px #f5f5f5,
    1758px 1623px #f5f5f5, 1341px 812px #f5f5f5, 699px 967px #f5f5f5,
    277px 866px #f5f5f5, 1526px 1828px #f5f5f5, 8px 977px #f5f5f5,
    1707px 952px #f5f5f5, 12px 1900px #f5f5f5, 72px 921px #f5f5f5,
    496px 1067px #f5f5f5, 1288px 1749px #f5f5f5, 273px 984px #f5f5f5,
    1197px 1991px #f5f5f5, 242px 789px #f5f5f5, 903px 1035px #f5f5f5,
    480px 1492px #f5f5f5, 102px 1331px #f5f5f5, 738px 1343px #f5f5f5,
    560px 1475px #f5f5f5, 367px 846px #f5f5f5, 1420px 962px #f5f5f5,
    1976px 892px #f5f5f5, 1911px 1763px #f5f5f5, 1639px 1002px #f5f5f5,
    437px 1522px #f5f5f5, 1906px 1025px #f5f5f5, 730px 1364px #f5f5f5,
    1127px 521px #f5f5f5, 1401px 1792px #f5f5f5, 1954px 1066px #f5f5f5,
    232px 250px #f5f5f5, 1685px 660px #f5f5f5, 1011px 999px #f5f5f5,
    1970px 790px #f5f5f5, 750px 499px #f5f5f5, 1738px 660px #f5f5f5,
    1621px 1849px #f5f5f5, 446px 52px #f5f5f5, 1055px 1396px #f5f5f5,
    1165px 1497px #f5f5f5, 1740px 1425px #f5f5f5, 1012px 1920px #f5f5f5,
    1258px 1560px #f5f5f5, 1020px 1152px #f5f5f5, 362px 673px #f5f5f5,
    1065px 975px #f5f5f5, 582px 755px #f5f5f5, 1271px 1479px #f5f5f5,
    719px 548px #f5f5f5, 1602px 879px #f5f5f5, 590px 499px #f5f5f5,
    721px 1412px #f5f5f5, 1180px 113px #f5f5f5, 1801px 1961px #f5f5f5,
    589px 941px #f5f5f5, 883px 476px #f5f5f5, 214px 890px #f5f5f5,
    1028px 892px #f5f5f5, 1107px 1832px #f5f5f5, 944px 361px #f5f5f5,
    480px 1453px #f5f5f5, 1466px 683px #f5f5f5, 981px 745px #f5f5f5,
    1968px 828px #f5f5f5, 657px 1830px #f5f5f5, 11px 1338px #f5f5f5,
    179px 730px #f5f5f5, 1713px 197px #f5f5f5, 51px 955px #f5f5f5,
    1243px 319px #f5f5f5, 1175px 624px #f5f5f5, 446px 46px #f5f5f5,
    5px 1158px #f5f5f5, 82px 1352px #f5f5f5, 1877px 402px #f5f5f5,
    708px 1778px #f5f5f5, 903px 1625px #f5f5f5, 1824px 352px #f5f5f5,
    1229px 140px #f5f5f5, 1518px 24px #f5f5f5, 1017px 512px #f5f5f5,
    515px 699px #f5f5f5, 295px 265px #f5f5f5, 69px 1773px #f5f5f5,
    1640px 1163px #f5f5f5, 536px 342px #f5f5f5, 970px 1766px #f5f5f5,
    560px 1416px #f5f5f5, 577px 193px #f5f5f5, 469px 9px #f5f5f5,
    466px 276px #f5f5f5, 711px 853px #f5f5f5, 401px 685px #f5f5f5,
    85px 506px #f5f5f5, 865px 558px #f5f5f5, 631px 105px #f5f5f5,
    887px 866px #f5f5f5, 1704px 1001px #f5f5f5, 1051px 1199px #f5f5f5,
    275px 1909px #f5f5f5, 1462px 829px #f5f5f5, 375px 1057px #f5f5f5,
    1531px 1501px #f5f5f5, 205px 403px #f5f5f5, 33px 1869px #f5f5f5,
    967px 1176px #f5f5f5, 376px 863px #f5f5f5, 1769px 1545px #f5f5f5,
    535px 51px #f5f5f5, 1972px 1569px #f5f5f5, 1773px 960px #f5f5f5,
    487px 620px #f5f5f5, 1660px 687px #f5f5f5, 1632px 972px #f5f5f5,
    1362px 42px #f5f5f5, 479px 1655px #f5f5f5, 1531px 1808px #f5f5f5,
    1450px 1412px #f5f5f5, 1549px 170px #f5f5f5, 1904px 1305px #f5f5f5,
    1209px 48px #f5f5f5, 1933px 820px #f5f5f5, 1623px 595px #f5f5f5,
    48px 643px #f5f5f5, 179px 1754px #f5f5f5, 589px 1032px #f5f5f5,
    1199px 356px #f5f5f5, 1755px 1418px #f5f5f5, 780px 1174px #f5f5f5,
    1905px 758px #f5f5f5, 1567px 713px #f5f5f5, 1372px 705px #f5f5f5,
    456px 654px #f5f5f5, 759px 690px #f5f5f5, 452px 673px #f5f5f5,
    993px 1610px #f5f5f5, 1271px 188px #f5f5f5, 343px 1750px #f5f5f5,
    1943px 1735px #f5f5f5, 1717px 853px #f5f5f5, 1247px 303px #f5f5f5,
    1314px 1895px #f5f5f5, 1203px 489px #f5f5f5, 741px 469px #f5f5f5,
    4px 246px #f5f5f5, 1515px 115px #f5f5f5, 606px 218px #f5f5f5,
    1966px 1471px #f5f5f5, 177px 87px #f5f5f5, 1575px 588px #f5f5f5,
    1136px 1386px #f5f5f5, 70px 1868px #f5f5f5, 1053px 18px #f5f5f5,
    1124px 721px #f5f5f5, 1748px 1181px #f5f5f5, 191px 1387px #f5f5f5,
    1931px 840px #f5f5f5, 1088px 1603px #f5f5f5, 634px 1255px #f5f5f5,
    814px 1434px #f5f5f5, 585px 64px #f5f5f5, 1074px 1618px #f5f5f5,
    1692px 761px #f5f5f5, 651px 643px #f5f5f5, 193px 335px #f5f5f5,
    1103px 1447px #f5f5f5, 491px 1142px #f5f5f5, 521px 408px #f5f5f5,
    536px 340px #f5f5f5, 411px 1091px #f5f5f5, 1646px 193px #f5f5f5,
    1595px 1285px #f5f5f5, 870px 1349px #f5f5f5, 1085px 1013px #f5f5f5,
    204px 1864px #f5f5f5, 1359px 299px #f5f5f5, 807px 964px #f5f5f5,
    219px 509px #f5f5f5, 36px 1227px #f5f5f5, 702px 1873px #f5f5f5,
    1471px 934px #f5f5f5, 1763px 792px #f5f5f5, 973px 1957px #f5f5f5,
    987px 68px #f5f5f5, 593px 1282px #f5f5f5, 1900px 607px #f5f5f5,
    407px 1659px #f5f5f5, 587px 17px #f5f5f5, 632px 158px #f5f5f5;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px);
  }
  to {
    -moz-transform: translateY(-2000px);
  }
}

@-ms-keyframes animStar {
  from {
    -ms-transform: translateY(0px);
  }
  to {
    -ms-transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

</style>
