---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>

<title>hi, i'm hamidah :)</title>
<link rel="icon" type="image/x-icon" href="s/assets/favicon.ico">

    
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
</script>

<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-K8WKZ0HZ6G");
</script>

<script>
	const favicon = document.querySelector('link[rel="icon"]')!
	document.addEventListener("visibilitychange", () => {
		const hidden = document.hidden
		favicon.setAttribute("href", `/favicon${hidden ? "-hidden" : ""}.svg`)
	})
</script>



<!-- Google tag (gtag.js) -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Imbue:opsz,wght@10..100,400;10..100,500&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">        
<a href="/index">Home.</a>
</br>
<a href="/blog/">Mindstream.</a>
        <br />
        <a href="/about/">Sui.</a>
        <slot />
    </body>
</html>

<style is:global>

<!--

    a:link {
  color: #7C8AA2;
}

a:visited {
  color: #4C576B;
}


/* selected link */
a:active {
  color: #7C8AA2;
}



    body {
      font-family: 'Sitka', serif;
        max-width: 60ch;
        margin: 40px;
        max-width: 580px;
        line-height: 1.6;
        font-size: 18px;
        background: ##fafafc;
        color: ##0a071f;



    }

    h1, h2, h3 {
      line-height: 1.4;
    }

 

</style>