---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600&family=Jost:wght@300;500&display=swap"
            rel="stylesheet"
        />

        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    body {
        font-family: "Figtree", sans-serif;
        margin: 10vw;
        height: 100%;
        width: 100%;
    }

    body {
        font-family: "Verdana", sans-serif;
        max-width: 52ch;
        margin: 45px 40px ;
        line-height: 1.4;
        word-spacing: 0.25vw;
        font-size: 13px; 
    }

    html {
        min-height: 100%;
        position: relative;
    }
</style>
