---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>

    
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-K8WKZ0HZ6G");
</script>



<!-- Google tag (gtag.js) -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <a href="/"> Home</a>
        <br />
        <a href="/blog/"> Blog</a>
        <br />
        <a href="/about/">About Me</a>
        <slot />
    </body>
</html>

<style is:global>

<!--

    a:link {
  color: #577399;
}

a:visited {
  color: #4A6182;
}

/* mouse over link */
a:hover {
  color: #577399;
}

/* selected link */
a:active {
  color: #577399;
}

h1 {
        color: #F5F5F5;
    }x


    h2 {
        color: #F5F5F5;
    }
    
    img.animated-gif{
  width: 85px;
  height: auto;
  padding-top: 4px; 
}


    body {
      font-family: 'Nanum Myeongjo', serif;
        max-width: 55ch;
        margin: 45px 48px;
        line-height: 1.5;
        letter-spacing: 0.12em;
        font-size: 16px;
        background: #E3E3F3;
        color: #181925;
    }

 

</style>