---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>

    
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-K8WKZ0HZ6G");
</script>



<!-- Google tag (gtag.js) -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <a href="/"> Home</a>
        <br />
        <a href="/blog/"> Blog</a>
        <br />
        <a href="/about/">About Me</a>
        <slot />
    </body>
</html>

<style is:global>

    a:link {
  color: #577399;
}

a:visited {
  color: #4A6182;
}

/* mouse over link */
a:hover {
  color: #577399;
}

/* selected link */
a:active {
  color: #577399;
}

h1 {
        color: #F5F5F5;
    }x


    h2 {
        color: #F5F5F5;
    }
    
    img.animated-gif{
  width: 85px;
  height: auto;
  padding-top: 4px; 
}

    body {
        font-family: 'Cormorant Garamond', serif;
        max-width: 55ch;
        margin: 45px 48px;
        line-height: 1.4;
        word-spacing: 0.23vw;
        font-size: 18px;
        background: #F5F5F5;
        color: black;
    }

    .front-page {
        background-image: url("/Users/hamidahoderinwale/Downloads/wp2757834.gif");
        background-size: cover;

        height: 100vh;
        padding: 0;
        margin: 0;
    }

    html {
        min-height: 100%;
        position: relative;
    }



.full-wh {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

</style>