---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>

    
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-K8WKZ0HZ6G");
</script>



<!-- Google tag (gtag.js) -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;0,600;1,300;1,700&display=swap" rel="stylesheet">
        <title>{title}</title>

        
    </head>
    <body>
        <a href="/"> Home</a>
        <br />
        <a href="/blog/"> Blog</a>
        <br />
        <a href="/about/">About Me</a>
        <slot />
    </body>
</html>

<style is:global>

    h2 {
        color: #101618;
    }
    
    body {
        font-family: 'Crimson Text', serif;
        max-width: 55ch;
        margin: 45px 48px;
        line-height: 1.4;
        word-spacing: 0.23vw;
        font-size: 16px;
        background: #2E4756;
    }

    .front-page {
        background-image: url("/Users/hamidahoderinwale/Downloads/wp2757834.gif");
        background-size: cover;

        height: 100vh;
        padding: 0;
        margin: 0;
    }

    html {
        min-height: 100%;
        position: relative;
    }

    .spoilerbutton {
        -webkit-transition: all 0.2s ease;
        -moz-transition: margin 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: margin 0.2s ease;
        display: block;
        margin: 5px 0;
        align-items: center;
        background-clip: padding-box;
        background-color: #357DED;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "Chakra Petch", sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

    .spoiler > div {
        -webkit-transition: all 0.2s ease;
        -moz-transition: margin 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: margin 0.2s ease;
    }

    .spoilerbutton[value="Links & Learnings"] + .spoiler > div {
        margin-top: -100%;
    }
    .spoilerbutton[value="Hide"] + .spoiler {
        padding: 5px;
    }

    .spoiler {
        overflow: hidden;
        background: #101618;
    }

    .spoilerbutton:hover,
    .button-5:focus {
        background-color: #F9A620;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    .spoilerbutton:hover {
        transform: translateY(-1px);
    }

    .spoilerbutton:active {
        background-color: #CA054D;
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        transform: translateY(0);
    }
</style>
