---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>
<title>hi, i'm hamidah :)</title>
<link rel="icon" type="image/x-icon" href="s/assets/favicon.ico">

    
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
  
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-K8WKZ0HZ6G");
</script>



<!-- Google tag (gtag.js) -->

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">        <a href="/"> Home. </a>
        <br />
        <a href="/blog/">Mindstream.</a>
        <br />
        <a href="/about/">Sui.</a>
        <slot />
    </body>
</html>

<style is:global>

<!--

    a:link {
  color: #6B6B6B;
}

a:visited {
  color: #545454;
}

/* mouse over link */
a:hover {
  color: #6B6B6B;
}

/* selected link */
a:active {
  color: #6B6B6B;
}

h1 {
        color: #F5F5F5;
    }x


    h2 {
        color: #F5F5F5;
    }
    
    img.animated-gif{
  width: 85px;
  height: auto;
  padding-top: 4px; 
}


    body {
      font-family: 'Arial', sans-serif;
        max-width: 55ch;
        margin: 45px 48px;
        line-height: 1.5;
        font-size: 16px;
        background: #F4F7F5;
        color: #0A0903;
    }

 

</style>