---
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />

        <title>{title}</title>
    </head>
    <body>
        <a href="/"> Home</a>
        <br />
        <a href="/blog/"> Blog</a>
        <slot />
    </body>
</html>

<style is:global>
    body {
        font-family: "Space Grotesk", sans-serif;
        max-width: 55ch;
        margin: 45px 48px;
        line-height: 1.4;
        word-spacing: 0.23vw;
        font-size: 16px;
        background: #f1edee;
    }

    html {
        min-height: 100%;
        position: relative;
    }

    .spoilerbutton {
        -webkit-transition: all 0.2s ease;
        -moz-transition: margin 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: margin 0.2s ease;
        display: block;
        margin: 5px 0;
        align-items: center;
        background-clip: padding-box;
        background-color: #E16036;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

    .spoiler > div {
        -webkit-transition: all 0.2s ease;
        -moz-transition: margin 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: margin 0.2s ease;
    }

    .spoilerbutton[value="Reveal Musing"] + .spoiler > div {
        margin-top: -100%;
    }
    .spoilerbutton[value="Hide"] + .spoiler {
        padding: 5px;
    }

    .spoiler {
        overflow: hidden;
        background: #F1EDEE;
    }

    .spoilerbutton:hover,
    .button-5:focus {
        background-color: #fb8332;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    .spoilerbutton:hover {
        transform: translateY(-1px);
    }

    .spoilerbutton:active {
        background-color: #E16036;
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        transform: translateY(0);
    }
</style>
